@import "../../sass/layout/admin-module/admin-module";
@import "../../sass/pages/admin-module/user-management";
@import "../../sass/components/table-user-management";


:host{
    ::ng-deep.mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--selected:enabled
    .mdc-switch__handle::after {
    /* background: var(--mdc-switch-selected-handle-color, var(--mdc-theme-primary, #6200ee)); */
    background: #9E553E !important;
  }
}




:host{
    ::ng-deep.mat-mdc-slide-toggle.mat-accent {
        --mdc-switch-selected-focus-state-layer-color: #9E553E !important;
        --mdc-switch-selected-handle-color: #9E553E !important;
        --mdc-switch-selected-hover-state-layer-color: #9E553E !important;
        --mdc-switch-selected-pressed-state-layer-color: #9E553E !important;
        --mdc-switch-selected-focus-handle-color: ##9E553E !important;
        --mdc-switch-selected-hover-handle-color: #9E553E !important;
        --mdc-switch-selected-pressed-handle-color: #9E553E !important;
        --mdc-switch-selected-focus-track-color: #9E553E !important;
        --mdc-switch-selected-hover-track-color: #9E553E !important;
        --mdc-switch-selected-pressed-track-color: #9E553E !important;
        --mdc-switch-selected-track-color: #9E553E !important;
      }
}




:hosT{
    ::ng-deep.mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--unselected:enabled
    .mdc-switch__handle::after {
    background: #9E553E !important;
  }
}
