<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">
      {{ data.id ? 'Edit' : 'Add' }} MELIA
    </p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-conten-box-1">
  <mat-dialog-content>
    <form [formGroup]="meliaForm" class="form-dialog-content">
      <!-- //Type of MELIA study or activity  filed----- -->
      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Type of MELIA study or activity<span class="star"
              >*</span
            ></mat-label
          >
        </div>

        <mat-form-field
          class="form-dialog-content__field"
          floatLabel="always"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-select
            class="select-text"
            required
            formControlName="melia_type"
            (selectionChange)="fillResultsSelect()"
          >
            <mat-option
              *ngFor="let meliaType of meliaTypes"
              [value]="meliaType.id"
            >
              {{ meliaType.name }}
            </mat-option>
          </mat-select>

          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['melia_type']?.errors?.['required']"
            >This field is mandatory</mat-error
          >
        </mat-form-field>
      </div>

      <!-- //Methodology applied filed----- -->

      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Methodology applied<span class="star">*</span></mat-label
          >
        </div>

        <mat-form-field
          class="form-dialog-content__field"
          floatLabel="always"
          hideRequiredMarker
          appearance="outline"
        >
          <textarea
            required
            class="texta"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
            matInput
            formControlName="methodology"
          >
          </textarea>
          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['methodology']?.errors?.['required']"
            >This field is mandatory</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-dialog-content__field--grid-column">
        <div class="risk-report-radio-buttons-flex-box">
          <mat-radio-group
            formControlName="experimental"
            aria-label="Select an option"
            color="primary"
          >
            <mat-radio-button [value]="true">Experimental</mat-radio-button>
            <mat-radio-button [value]="false"
              >Non-experimental</mat-radio-button
            >
          </mat-radio-group>
          <!-- <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['experimental']?.errors?.['required']"
            >Experimental is required</mat-error
          > -->
        </div>
      </div>

      <!-- //Tools and template (questionnaires) filed----- -->

      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Tools and template (questionnaires)<span class="star"
              >*</span
            ></mat-label
          >
        </div>

        <mat-form-field
          class="form-dialog-content__field textarea-m-b"
          floatLabel="always"
          hideRequiredMarker
          appearance="outline"
        >
          <textarea
            required
            class="texta"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
            matInput
            formControlName="questionnaires"
          >
          </textarea>
          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['questionnaires']?.errors?.['required']"
            >This field is mandatory</mat-error
          >
        </mat-form-field>
      </div>

      <!-- //Anticipated year of completion filed----- -->
      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Anticipated year of completion<span class="star"
              >*</span
            ></mat-label
          >
        </div>

        <mat-form-field
          class="form-dialog-content__field"
          floatLabel="always"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-select
            class="select-text"
            required
            formControlName="completion_year"
          >
            <mat-option value="JAN-2015"> JAN-2015 </mat-option>
            <mat-option value="JAN-2016"> JAN-2016 </mat-option>
          </mat-select>
          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['completion_year']?.errors?.['required']"
            >This field is mandatory</mat-error
          >
        </mat-form-field>
      </div>

      <!-- //Tools and template (questionnaires) filed----- -->

      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >How the MELIA study or activity will inform management decisions
            and contribute to internal learning<span class="star"
              >*</span
            ></mat-label
          >
        </div>

        <mat-form-field
          class="form-dialog-content__field textarea-m-b"
          floatLabel="always"
          hideRequiredMarker
          appearance="outline"
        >
          <textarea
            required
            class="texta"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
            matInput
            formControlName="management_decisions"
          >
          </textarea>
          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['management_decisions']?.errors?.['required']"
            >This field is mandatory</mat-error
          >
        </mat-form-field>
      </div>

      <!-- //Other Initiatives filed----- -->
      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Other Initiatives<span class="star">*</span></mat-label
          >
        </div>

        <mat-form-field
          class="form-dialog-content__field"
          floatLabel="always"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-select
            class="select-text"
            required
            formControlName="other_initiatives"
            multiple
            [compareWith]="compareId"
          >
            <ng-container *ngFor="let initiative of initiatives">
              <mat-option
                class="w"
                required
                *ngIf="initiative.id != data?.initiative_id"
                [value]="initiative"
              >
                {{ initiative.official_code }} - {{ initiative.name }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['other_initiatives']?.errors?.['required']"
            >This field is mandatory</mat-error
          >
        </mat-form-field>
      </div>

      <!-- //MELIA Study contributes to filed----- -->
      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >MELIA Study contributes to<span class="star">*</span></mat-label
          >
        </div>

        <ng-select
          class="select-text"
          [items]="results"
          formControlName="contribution_results"
          placeholder="MELIA Study contributes to"
          bindLabel="title"
          bindValue="id"
          [multiple]="true"
          appearance="outline"
          required
          (change)="resultSelected()"
        >
        </ng-select>

        <mat-error
          class="error"
          *ngIf="meliaForm.controls?.['contribution_results']?.errors?.['required']"
          >This field is mandatory</mat-error
        >
      </div>

      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Partners<span class="star">*</span></mat-label
          >
        </div>

        <ng-select
          class="select-text"
          [items]="partners | async"
          formControlName="partners"
          placeholder="Partners"
          bindLabel="name"
          [minTermLength]="2"
          typeToSearchText="Please enter 2 or more characters"
          [loading]="partnersLoading"
          [typeahead]="partnersInput"
          [multiple]="true"
          appearance="outline"
          [compareWith]="compareCode"
        >
          <div class="t-box select-text">
            <ng-template
              ng-option-tmp
              let-item="item"
              let-search="searchTerm"
              let-index="index"
              class="select-text"
            >
              <div class="ng-select-option select-text">
                <span class="select-text">{{ item.name }}</span>
                <span class="select-text" *ngIf="item.acronym">
                  - {{ item.acronym }}</span
                >
              </div>
            </ng-template>
          </div>
        </ng-select>

        <mat-error
          class="error"
          *ngIf="meliaForm?.errors?.['atLeastOneRequired'] && showerror"
          >This field is mandatory</mat-error
        >

        <!-- <mat-error
          class="error"
          *ngIf="meliaForm.controls?.['partners']?.errors?.['required']"
          >This field is mandatory</mat-error
        > -->
      </div>

      <div class="form-dialog-content__field--grid-column">
        <div class="form-dialog-content__title-box">
          <mat-label class="form-dialog-content__title-box__title"
            >Geographic scope</mat-label
          >
        </div>
        <div class="risk-report-radio-buttons-flex-box-2">
          <mat-radio-group
            formControlName="geo_scope"
            aria-label="Geographic scope"
            color="primary"
          >
            <mat-radio-button value="global">Global</mat-radio-button>
            <mat-radio-button value="region">Region</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="meliaForm.value.geo_scope == 'region'" class="ng-select-box">
        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Regions of the main initiative<span class="star"
                >*</span
              ></mat-label
            >
          </div>
          <ng-select
            class="select-text"
            [items]="regions"
            formControlName="initiative_regions"
            placeholder="Regions of the main initiative"
            bindLabel="name"
            [multiple]="true"
            appearance="outline"
            (change)="loadInitCountries()"
            [compareWith]="compareUmCode"
          >
          </ng-select>
          <!-- <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['initiative_regions']?.errors?.['required']"
            >Regions of the main initiative is required</mat-error
          > -->
        </div>

        <div
          class="form-dialog-content__field--grid-column"
          *ngIf="
            meliaForm.value.initiative_regions &&
            meliaForm.value.initiative_regions.length
          "
        >
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Countries of the main initiative<span class="star"
                >*</span
              ></mat-label
            >
          </div>
          <ng-select
            class="select-text"
            [items]="initCountries"
            formControlName="initiative_countries"
            placeholder="Countries of the main initiative"
            bindLabel="name"
            [multiple]="true"
            appearance="outline"
            [compareWith]="compareCode"
            required
          >
          </ng-select>
          <!-- <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['initiative_countries']?.errors?.['required']"
            >Countries of the main initiative is required</mat-error
          > -->
        </div>

        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Regions of the co-initiative<span class="star"
                >*</span
              ></mat-label
            >
          </div>
          <ng-select
            class="select-text"
            [items]="regions"
            formControlName="co_initiative_regions"
            placeholder="Regions of the co-initiative"
            bindLabel="name"
            [multiple]="true"
            appearance="outline"
            (change)="loadCoInitCountries()"
            [compareWith]="compareUmCode"
          >
          </ng-select>
          <!-- <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['co_initiative_regions']?.errors?.['required']"
            >Regions of the co-initiative is required</mat-error
          > -->
        </div>

        <div
          class="form-dialog-content__field--grid-column"
          *ngIf="
            meliaForm.value.co_initiative_regions &&
            meliaForm.value.co_initiative_regions.length
          "
        >
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Countries of the co-initiative<span class="star"
                >*</span
              ></mat-label
            >
          </div>
          <ng-select
            class="select-text"
            [items]="coInitCountries"
            formControlName="co_initiative_countries"
            placeholder="Countries of the co-initiative"
            bindLabel="name"
            [multiple]="true"
            appearance="outline"
            [compareWith]="compareCode"
            required
          >
          </ng-select>
          <!-- <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['co_initiative_countries']?.errors?.['required']"
            >Countries of the co-initiative is required</mat-error
          > -->
        </div>
      </div>

      <div>
        <div class="form-dialog-conten-button-box">
          <div class="form-dialog-conten__button-box m-t" align="end">
            <!-- <button mat-button mat-dialog-close>Cancel</button> -->

            <button
              class="form-dialog-conten__button-box__btn"
              type="submit"
              mat-raised-button
              mat-button
              color="primary"
              (click)="submit()"
              cdkFocusInitial
            >
              {{ data.id ? 'Edit' : 'Add' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>
