@import "../sass/layout/header/header";

.risk-nav-list {
  background-color: #436280;
}

.user-nav-button--notific {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6rem;
  height: 4.6rem;
  flex-shrink: 0;
  border-radius: 4px;
  gap: 1.5rem;

  // padding: 2.5rem;
}
.header-content-box{
  cursor: pointer;
}
::ng-deep .mat-mdc-menu-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  background: none;
  text-decoration: none;
  margin: 0;
  min-height: 48px;
}

.notific-section {
  width: 28rem;
  height: 5.2rem;
  flex-shrink: 0;
  background-color: #efd8c9;
}

.notific-box-flex {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 95%;
  margin: 1rem auto;
  flex-shrink: 0;
  padding: 0 1rem;
}

.notific-date {
  color: #9e553e;
  text-align: justify;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116.5%; /* 0.932rem */
  margin: 1rem auto 0 auto !important;
}

.notific-text {
  color: #0f212f;
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%;
}

// :host{
//   ::ng-deep .mdc-menu-surface--open {
//     display: flex;
//     transform: translate(10px, 10px) !important;
//     opacity: 1;
// }
// }

// mat-menu {
//   margin-top: 40px;
//   background-color: #0f212f;
// }

:host {
  ::ng-deep .mdc-menu-surface--open {
    margin: 1rem 0 0 0 !important;
    padding: 0 1rem !important;
  }
}
