@import "../../abstracts/variables";

//  header-risk-background-c-primary header-risk-background-c-secondary
//   header-user-nav-box__background-c-primary
.header-risk {
  // width: 151.2rem;
  // height: 8.2rem;
  &__content {
    background-color: #2a2e45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.2rem;
  }

  &__main-nav {
    height: 6.8rem;
    background-color: #2a2e45;

    &__background-c-primary {
      background-color: $color-main-nav-link-primary;
    }

    &__background-c-secondary {
      background-color: $color-main-nav-link-secondary;
    }
  }

  &__background-c-primary {
    background-color: $color-main-header-risk-primary;
  }

  &__background-c-secondary {
    background-color: $color-main-header-risk-secondary;
  }
}

.header-content-box {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem 1.5rem 0;

  @media only screen and (max-width: 64em) {
    //change on 1024
    padding: 1rem;
  }
  ////////////////////////////////

  &--1 {
    width: 6.708rem;
    height: 7.1797rem;

    &__logo {
      // width: 4.9rem;
      // height: 57.12rem;
    }
  }

  &--2 {
    width: 40.6rem;
    height: 8rem;
    &__title {
      font-size: 2rem;
      font-weight: 400;
      line-height: 3rem;
      letter-spacing: 0em;
      margin-top: 2rem;
      color: #ffffffdf;

      &--1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;
        letter-spacing: 0em;

        color: #ffffff;
      }
    }
  }
}

.header-user-nav-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  @media only screen and (max-width: 64em) {
    //change on 1024
    gap: 1.3rem;
    padding: 1rem;
  }
  ////////////////////////////////
}

.user-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.6rem;
  height: 4.6rem;
  border-radius: 4px;
  gap: 1.5rem;
  padding: 2.5rem;

  @media only screen and (max-width: 64em) {
    //change on 1024
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15.6rem;
    height: 4.6rem;
    border-radius: 4px;
    gap: 2.5rem;
    padding: 1.5rem 0 1.5rem 1.3rem;
  }
  ////////////////////////////////

  &__icon {
    width: 3.1rem;
    height: 3rem;

    &--1 {
      width: 3.1rem;
      height: 3rem;

      // @media only screen and (max-width: 64em) {
      //   //change on 1024

      //   margin-left: 0rem;
      // }
      // ////////////////////////////////
    }

    &--2 {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &__title--1 {
    color: #ffffff;

    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 107px;
  }

  &__title--2 {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }

  &__background-c-primary {
    background-color: $color-user-nav-primary;
  }

  &__background-c-secondary {
    background-color: $color-user-nav-secondary;
  }
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: 5rem;

  @media only screen and (max-width: 160em) {
    //change on 1024
    margin-left: 2.3rem;
  }
  ////////////////////////////////

  @media only screen and (max-width: 90em) {
    //change on 1024
    margin-left: 2.3rem;
  }
  ////////////////////////////////

  @media only screen and (max-width: 64em) {
    //change on 1024

    gap: 1.2rem;
    margin-left: -1rem;
  }
  ////////////////////////////////
}

.main-nav-link:link,
.main-nav-link:visited {
  margin: 1.5rem -5rem 1.5rem 4rem;
  display: inline-block;

  // width: 17.5rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;

  transition: all 0.1s;
}

.active {
  font-weight: 700 !important;
  color: #2a2e45 !important;
  background-color: #ffffff;
}
