@import "../sass/pages/admin-module/user-management";
@import "../sass/layout/admin-module/user-management";
@import "../sass/components/button";
// mat-option {
//   cursor: url(../../../assets/shared-image/Vector-cursor.svg), pointer !important;
// }
// mat-form-field {
//   width: 100%;
// }

// mat-option {
//   cursor: url(../../../assets/shared-image/Vector-cursor.svg), pointer !important;
// }

.phase-box {
  width: auto;
  height: auto;
  background-color: #ffffff;
}

// .form-dialog-header {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   height: 4.5rem;
//   padding: 0 0.5rem;
//   // border-radius: 0.2rem 0.2rem 0rem 0;
//   background-color: #0f212f;

//   &__text-box {
//     width: 62.4rem;
//     height: 2.4rem;
//     font-family: "Poppins", sans-serif !important;

//     font-size: 1.6rem;
//     font-weight: 500;
//     line-height: 2.4rem;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #ffffff;
//   }

//   &__icon-box {
//     // width: 1.8rem;

//     // style="background-color: #2a2e45; border: none; cursor: pointer"

//     &__btn {
//       border: none;
//       background-color: #0f212f;
//       cursor: pointer;
//     }
//   }
// }
.form-dialog-content {
  max-width: 57.8rem;
  margin: -2rem auto 2.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.form-dialog-conten-button-box-3 {
  text-align: right;
  margin-top: 2.5rem !important;
}

:host {
  ::ng-deep.mat-mdc-icon-button.mat-mdc-button-base {
    color: #0060ef !important;
  }
}

// :host {
//   ::ng-deep.mat-mdc-dialog-actions.mat-mdc-dialog-actions-align-end,
//   .mat-mdc-dialog-actions[align="end"] {
//     justify-content: flex-end;
//     padding: 0 4rem 0 0 !important;
//   }
// }

// :host {
//   ::ng-deep.mdc-dialog .mdc-dialog__content {
//     padding: 20px 24px 20px 24px !important;
//   }
// }

// ::ng-deep.mat-mdc-option:hover:not(.mdc-list-item--disabled),
// .mat-mdc-option:focus:not(.mdc-list-item--disabled),
// .mat-mdc-option.mat-mdc-option-active,
// .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
//     .mdc-list-item--disabled
//   ) {
//   background-image: linear-gradient(
//     to right bottom,
//     #9e543eaa,
//     #7c4230db
//   ) !important;

//   color: #ffffff !important;
// }

// ::ng-deep.mat-mdc-option.mat-mdc-option-active,
// .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
//     .mdc-list-item--disabled
//   ) {
//   background-image: linear-gradient(
//     to right bottom,
//     #9e543eaa,
//     #7c4230db
//   ) !important;
// }

// ::ng-deep.mat-mdc-option.mat-mdc-option-hover,
// .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
//     .mdc-list-item--disabled
//   ) {
//   color: #ffffff !important;
// }

// ::ng-deep.mat-primary
//   .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
//   .mdc-list-item__primary-text {
//   color: var(--mdc-theme-primary, #ffffff) !important;
// }

// ::ng-deep.mat-pseudo-checkbox {
//   border-radius: 2px;
//   cursor: pointer;
//   display: inline-block;
//   vertical-align: middle;
//   box-sizing: border-box;
//   position: relative;
//   flex-shrink: 0;
//   transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1),
//     background-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
//   filter: invert(96%) sepia(100%) saturate(16%) hue-rotate(269deg)
//     brightness(104%) contrast(104%) !important;
// }

::ng-deep.mat-mdc-select-arrow {
  width: 16px !important;
  height: 10px !important;
  background-color: #ffffff !important;
  background-image: url("../../assets/shared-image/Vector-risk-m.svg");
  background-position: center;
  background-size: cover;
}

::ng-deep.mat-mdc-select-arrow svg {
  opacity: 0 !important;
}

:host {
  ::ng-deep.mat-mdc-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    /* font-weight: 500; */
    /* margin: 16px 0 12px 0; */
    /* display: block; */
    /* max-width: 450px; */
    /* min-width: 250px; */
  }
}

:host {
  ::ng-deep.mat-mdc-select {
    white-space: normal !important;

    max-height: 20rem !important;
    max-width: 100% !important;
    overflow: auto !important;
    padding: 0 0.5rem !important;
  }
}

::ng-deep.mdc-menu-surface.mat-mdc-select-panel {
  width: 100%;
  max-height: 275px;
  position: inherit !important;
  outline: 0;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: rgba(255, 0, 0, 0) !important;
}

.risk-report-btn-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 15px;
  transition: all 0.3s;
}

.create-risk {
  width: 2.2rem !important;
  height: 2.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.001rem;
  left: 0.2rem;
}

.create-risk-2 {
  width: 1.9rem !important;
  height: 2.4rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.4rem;
  left: 0.5rem;
}
.risk-report-title-box {
  text-align: center;
  padding: 4.8rem 0;
  &__title {
    color: #0f212f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;

  display: inline-block;

  transition: all 0.2s;
  position: relative;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #0f212f;
  color: #ffffff;
}
.btn--white::after {
  background-color: #0f212f;
}

.btn--chestnut {
  background-color: #5569dd !important;
  color: #ffffff;
}
.btn--chestnut::after {
  background-color: #5569dd !important;
}

.btn--white-2 {
  background-image: linear-gradient(to right, #436280, #30455b);
  color: #ffffff;
}
.btn--white-2::after {
  background-image: linear-gradient(to right, #436280, #30455b);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.85s;
  animation-fill-mode: backwards;
}

.ng-select-option-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #0f212f;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 1.374rem */
}
.ng-select-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

:host {
  ::ng-deep.mat-mdc-select-value-text {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    /* font-weight: 500; */
    /* margin: 16px 0 12px 0; */
    /* display: block; */
    /* max-width: 450px; */
    /* min-width: 250px; */
    white-space: normal !important;
  }
}

:host {
  ::ng-deep.mat-mdc-select {
    white-space: normal !important;

    max-height: 20rem !important;
    max-width: 100% !important;
    overflow: auto !important;
    padding: 0 0.5rem !important;
  }
}

::ng-deep.mdc-menu-surface.mat-mdc-select-panel {
  width: 100%;
  max-height: 275px;
  position: inherit !important;
  outline: 0;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
}

// ::ng-deep.ng-select.ng-required.ng-invalid .ng-select-container {
//   border-color: red !important;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
//     0 0 0 3px rgba(255, 0, 0, 0.331);
// }

:host {
  ::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
    /* padding: 0 0.5em; */
    /* min-height: 60px; */
    /* width: 57.8rem; */
    /* height: 4.4rem !important; */
    /* position: relative !important; */
    background-color: none !important;
    /* height: 49px !important; */
    /* border: 2px solid rgba(128, 128, 128, 0.2980392157) !important; */
    /* border-radius: 1rem !important; */
    white-space: nowrap;
    /* overflow: auto; */
    /* text-overflow: ellipsis; */
    /* white-space: break-spaces !important; */
    /* text-align: left !important; */
    /* color: #04030f !important; */
    /* font-size: 1.4rem !important; */
    /* font-style: normal !important; */
    /* line-height: 18.75px !important; */
    /* font-family: "Poppins", sans-serif !important; */
    /* font-weight: 500; */
    /* margin: 16px 0 12px 0; */
    /* display: block; */
    /* max-width: 450px; */
    /* min-width: 250px; */
    /* white-space: normal !important; */
    // white-space: normal !important;
    // max-height: 20rem !important;
    // max-width: 100% !important;
    // overflow: auto !important;
    // padding: 0 0.5rem !important;
  }
}

// ::ng-deep.ng-select.ng-invalid.ng-touched {
//   .ng-select-container {
//     border: 1px solid red !important;
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
//   }
// }
// ::ng-deep.ng-select.ng-invalid.ng-untouched {
//   .ng-select-container {
//     border-color: #dc3545 !important;
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
//   }
// }

:host {
  ::ng-deep.ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container {
    // flex-wrap: wrap;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // white-space: break-spaces !important;
    // text-align: left !important;
    // color: #04030f !important;
    // font-size: 1.4rem !important;
    // font-style: normal !important;
    // line-height: 18.75px !important;
    // font-family: "Poppins", sans-serif !important;
    // white-space: normal !important;
    // max-height: 12rem !important;
    // max-width: 100% !important;
    // padding: 1rem 2rem 0 0 !important;

    // overflow-x: hidden !important;
    /* flex-wrap: wrap; */
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    white-space: normal !important;
    max-height: 12rem !important;
    max-width: 100% !important;
    padding: 1rem 2rem 0 0 !important;
    overflow-x: hidden !important;
    /* display: flex; */
    display: inline-block;
  }
}

:host {
  ::ng-deep.ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value
    .ng-value-label {
    display: inline-block;
    padding: 1rem 13px 0.5rem 0.5rem;

    white-space: nowrap;
    // overflow: auto;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    /* font-weight: 500; */
    /* margin: 16px 0 12px 0; */
    /* display: block; */
    /* max-width: 450px; */
    /* min-width: 250px; */
    white-space: normal !important;
  }
}

.select-text::-webkit-scrollbar {
  width: 0.8rem;
  padding: 0.5rem !important;
}

.select-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

.select-text::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

::ng-deep.ng-value-container::-webkit-scrollbar {
  width: 0.8rem;
}

::ng-deep.ng-value-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

::ng-deep.ng-value-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

:host {
  ::ng-deep.mat-mdc-form-field-error {
    color: var(--mdc-theme-error, #f44336);
    font-size: 1.3rem !important;
    // animation: moveInBottom 0.5s ease-out 0.75s !important;
    // animation-fill-mode: backwards !important;
    animation-name: moveInLeft !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }
}

.ng-select-option-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #0f212f;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 1.374rem */
}

:host {
  ::ng-deep.ng-select .ng-select-container {
    cursor: default;
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    gap: 1.1rem !important;
  }
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem !important;
}

:host {
  ::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
    padding: 1rem 0.5em;

    width: 57.8rem;

    position: relative !important;
    background-color: none !important;

    border: 2px solid #8080804c !important;
    border-radius: 1rem !important;
  }
}

::ng-deep.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  margin-bottom: 5px !important;
  background-color: #ebf5ff !important;
  border-radius: 2px !important;
  margin-right: 5px !important;
  text-align: left !important;
  color: #04030f !important;
  font-size: 1.4rem !important;
  font-style: normal !important;
  line-height: 18.75px !important;
  font-family: "Poppins", sans-serif !important;
  /* font-weight: 500; */
  /* margin: 16px 0 12px 0; */
  /* display: block; */
  /* max-width: 450px; */
  /* min-width: 250px; */
  white-space: normal !important;
}

.risk-report-button-box {
  &__btn {
    color: #ffffff !important;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    position: relative !important;
    top: 2.8rem !important;
  }
}

.form-dialog-content__title-box {
  margin-bottom: 1.8rem !important;
  margin-left: -1rem !important;
}

:host::ng-deep .ng-dropdown-panel {
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  overflow: visible !important;
  z-index: 9999999 !important;
  display: contents !important;
}

// ::ng-deep.ng-dropdown-panel {
//   top: 0;
//   left: 0;
// }

// ::ng-deep.ng-select .ng-dropdown-panel {
//   top: auto;
//   left: auto;
// }

.kk {
  position: relative;
}

:host ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items {
  border: 2px solid rgba(128, 128, 128, 0.2980392157) !important;
}
