<section class="section-risk-management-component">
  <div class="risk-management-container">
    <div class="risk-management-content">
      <div class="form-container">
        <form class="search">
          <!-- //search----- -->
          <div class="sec-1">
            <div class="risk-management-form-field">
              <mat-label class="risk-management-form-field__label"
                >Search</mat-label
              >

              <input
                hideToggle="true"
                class="search__input"
                matInput
                placeholder="Search"
                (keyup)="applyFilter($event)"
                #input
              />
              <button
                style="
                  border: none;
                  cursor: pointer;
                  background-color: #ffffff00;
                "
                class="search__button"
              >
                <mat-icon class="search__icon">
                  <img
                    class="search__icon"
                    src="../../assets/shared-image/Vector-search.svg"
                    alt="~/Frontend/images/icon _ search-icon"
                /></mat-icon>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="table-box">
        <div class="table-box mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span class="text-color-linear">ID</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{ row.id }}</span>
              </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="official_code">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">Official code</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{ row.official_code }}</span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">Name</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{ row.name }}</span>
              </td>
            </ng-container>

            <!-- Short Column -->
            <ng-container matColumnDef="short_name">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">Short Name</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{ row.short_name }}</span>
              </td>
            </ng-container>
            <!-- my_role Column -->
            <ng-container matColumnDef="my_role">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">My role</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{ myRoles(row.roles) }}</span>
              </td>
            </ng-container>

            <!-- last update at Column -->
            <ng-container matColumnDef="last_update_at">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">Last update at</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{
                  row.last_update_at | date
                }}</span>
              </td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">Status</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="text-s-c-linear">{{
                  row.last_submitted_at != null &&
                  row.last_update_at == row.last_submitted_at
                    ? row?.latest_submission
                      ? row?.latest_submission?.status
                      : "Draft"
                    : "Draft"
                }}</span>
              </td>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <span class="text-color-linear">Actions</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <div class="actions">
                  <button
                    class="color-icons-table-action"
                    matTooltip="Manage Initiative Team"
                    matTooltipPosition="above"
                    *ngIf="isLeader(row.roles) || isCoordinator(row.roles)"
                    routerLink="initiative/{{ row['id'] }}/{{
                      row['official_code']
                    }}/team-members"
                    mat-icon-button
                  >
                    <mat-icon>group</mat-icon>
                  </button>
                  <button
                    class="color-icons-table-action"
                    matTooltip="Manage Initiative activities"
                    matTooltipPosition="above"
                    *ngIf="isLeader(row.roles) || isCoordinator(row.roles)"
                    routerLink="initiative/{{ row['id'] }}/{{
                      row['official_code']
                    }}/submission"
                    mat-icon-button
                  >
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <button
                    class="color-icons-table-action"
                    matTooltip="Submit your center activites"
                    matTooltipPosition="above"
                    *ngIf="isContributor(row.roles)"
                    routerLink="initiative/{{ row['id'] }}/{{
                      row['official_code']
                    }}/submission"
                    mat-icon-button
                  >
                    <mat-icon>playlist_add_check</mat-icon>
                  </button>
                  <button
                    class="color-icons-table-action"
                    matTooltip="View Submited versions"
                    matTooltipPosition="above"
                    routerLink="initiative/{{ row['id'] }}/{{
                      row['official_code']
                    }}/submited-versions"
                    mat-icon-button
                  >
                    <mat-icon>view_carousel</mat-icon>
                  </button>
                  <button
                    class="color-icons-table-action"
                    *ngIf="isLeader(row.roles) || isCoordinator(row.roles)"
                    mat-icon-button
                    (click)="openDialog(row.id)"
                    matTooltip="Assign Organizations"
                    matTooltipPosition="above"
                  >
                    <mat-icon>dns</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr
              class="table-header"
              mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
              class="table-header"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="8">
                No results matching({{ input.value }})
              </td>
            </tr>
          </table>
          <div class="glossary-content-container user-management-paginator-box">
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30, 50, 100]"
              aria-label="Select page of users"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
