@import "../../sass/layout/admin-module/admin-module";
@import "../../sass/pages/admin-module/user-management";
@import "../../sass/abstracts/variables";
@import "../../sass/components/button";

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 54.8rem;
  height: 3rem;
  margin-left: -5rem;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 99%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }
}

.form-container {
  position: relative;
  margin-top: -3rem;
  position: relative;
  top: 4rem;
  .search {
    position: relative;
    margin: 1.2rem 0 6.2rem 0;
    display: flex;
    width: 98%;
    justify-content: center;
    height: fit-content;
    // .sec-1 {
    //   width: 25%;
    //   position: relative;

    //   .search__button {
    //     right: 14px;
    //     position: absolute;
    //     .search__icon {
    //       width: 2rem;
    //     }
    //   }

    //   .risk-management-form-field {
    //     position: relative;
    //     .risk-management-form-field__label {
    //       display: inline-block;
    //       color: #808080;
    //       font-family: "Poppins", sans-serif;
    //       font-size: 1.4rem;
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //       margin: 0 9rem 1rem 0;
    //     }
    //     .risk-management-form-field-box__input-3 {
    //       font-family: inherit;
    //       font-size: inherit;
    //       color: #0f212f;
    //       border-radius: 1rem;
    //       border: 0.5px solid #808080;
    //       background-color: #ffffff;

    //       width: 100%;
    //       transition: all 0.2s;
    //       position: relative;
    //     }
    //   }
    // }

    .sec-7 {
      position: relative;

      display: flex;
      /* align-items: initial; */
      /* gap: 1rem; */
      /* margin-left: 104rem; */
      width: 98%;
      justify-content: flex-end;
      // margin: 0 0 -31.6rem -15rem;
      // margin: 0 0 -27.7rem -15rem;
      // margin: -0.2rem 0 -13rem 0.2rem;
      margin: -0.2rem 0 -13.37rem 0.2rem;
    }

    .sec-1 {
      position: relative;
      margin-top: 3rem;
      display: flex;
      /* align-items: initial; */
      /* gap: 1rem; */
      /* margin-left: 104rem; */
      width: 98%;
      justify-content: flex-end;
    }
    .sec-2 {
      position: relative;
      margin-top: 3rem;
      display: flex;
      /* align-items: initial; */
      /* gap: 1rem; */
      /* margin-left: 104rem; */
      width: 98%;
      justify-content: flex-end;
    }
    .sec-3 {
      position: relative;
      margin-top: 3rem;
      display: flex;
      /* align-items: initial; */
      /* gap: 1rem; */
      /* margin-left: 104rem; */
      width: 98%;
      justify-content: flex-end;
    }
    .sec-4 {
      position: relative;
      margin-top: 3rem;
      display: flex;
      /* align-items: initial; */
      /* gap: 1rem; */
      /* margin-left: 104rem; */
      width: 98%;
      justify-content: flex-end;
    }

    .sec-8 {
      position: relative;
      margin: 3rem;
      display: flex;
      /* align-items: initial; */
      /* gap: 1rem; */
      /* margin-left: 104rem; */
      width: 98%;
      justify-content: center;
      // margin: 0rem 0 19px 3rem;
      margin: 0rem 0 -9px 3rem;
    }
  }
}
.btn-primary-size-2 {
  width: 16.1rem;
  height: 3.1rem;
}

mat-card,
mat-tab-group {
  margin-bottom: 50px;
  width: 100% !important;
  margin-top: 8rem;
}

.card-title {
  // text-align: center;
  // // padding: 5px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // // color: #9e553e !important;

  // font-family: "Poppins", sans-serif !important;
  // font-size: 3.4rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  // /* background-color: #0f212f !important; */
  // // margin-left: 5rem;
  // background-image: linear-gradient(to right, #9e553e, #44241a);
  // -webkit-background-clip: text;
  // color: transparent;
  // letter-spacing: 0.2rem;
  // transition: all 0.2s;
  // text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  // font-family: "Poppins", sans-serif !important;
  // font-size: 3.4rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  // background-image: linear-gradient(to right, #9e553e, #44241a);
  // -webkit-background-clip: text;
  // color: transparent;
  // letter-spacing: 0.2rem;
  // transition: all 0.2s;
  // color: #0f212f;
  // font-family: "Poppins", sans-serif !important;
  // font-size: 3.6rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* text-align: left; */
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  display: inline-block;
  position: relative;
  /* left: -4rem; */
  background-image: linear-gradient(to right, #0f212f, #0c1a25);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
mat-card-title,
mat-card-subtitle {
  // text-align: center;
  // padding: 5px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // // color: #9e553e !important;
  // text-align: left;
  // font-family: "Poppins", sans-serif !important;
  // font-size: 3.4rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  // /* background-color: #0f212f !important; */
  // margin-left: 5rem;
  // background-image: linear-gradient(to right, #9e553e, #44241a);
  // -webkit-background-clip: text;
  // color: transparent;
  // letter-spacing: 0.2rem;
  // transition: all 0.2s;

  padding: 4rem 11rem 0 6.9rem;
  margin-top: 20px;
  // margin-bottom: 20px;
  // text-align: left;
  // font-family: "Poppins", sans-serif !important;
  // font-size: 3.4rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  // background-image: linear-gradient(to right, #9e553e, #44241a);
  // -webkit-background-clip: text;
  // color: transparent;
  // letter-spacing: 0.2rem;
  // transition: all 0.2s;
  // color: #0f212f;
  // font-family: "Poppins", sans-serif !important;
  // font-size: 3rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* text-align: left; */
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  display: inline-block;
  position: relative;
  /* left: -4rem; */
  background-image: linear-gradient(to right, #0f212f, #0c1a25);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
mat-slide-toggle {
  align-self: self-end;
  margin-right: 2rem;
  margin-bottom: -4rem;
  margin-top: 4rem;
}

.m-s-toggle {
  font-size: 1.7rem;
  color: #04030f;
}

.container-mat-tab {
  /* 1140px */
  max-width: 156rem;
  padding: 0 0.2rem;
  margin: 0 auto;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.85s;
  animation-fill-mode: backwards;
}

.text-if-complete {
  color: #dc3545;
  text-align: center;
  margin-bottom: 0;
  animation: _ngcontent-kwl-c55_moveInBottom 1.5s ease-out 1.85s;
  animation-fill-mode: backwards;
  top: -10rem;
  display: inline-block;
  margin: -6rem 4rem -3rem 12rem;
  position: relative;
  left: 5rem;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: rgba(255, 0, 0, 0) !important;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// .btn,
// .btn:link,
// .btn:visited {
//   text-decoration: none;

//   display: inline-block;

//   transition: all 0.2s;
//   position: relative;

//   border: none;
//   cursor: pointer;
// }

// .btn:hover {
//   transform: translateY(-3px);
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
// }
// .btn:hover::after {
//   transform: scaleX(1.4) scaleY(1.6);
//   opacity: 0;
// }

// .btn:active,
// .btn:focus {
//   outline: none;
//   transform: translateY(-1px);
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
// }

.btn--white {
  background-color: #0f212f;
  color: #ffffff;
}
.btn--white::after {
  background-color: #0f212f;
}

.btn--white-2 {
  background-color: #5569dd !important;
  color: #ffffff;
}
.btn--white-2::after {
  background-color: #5569dd !important;
}

// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 10rem;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all 0.4s;
// }

// .btn--animated {
//   animation: moveInBottom 0.5s ease-out 0.85s;
//   animation-fill-mode: backwards;
// }

.disabled {
  opacity: 0.5;
}
// .popover {
//   padding: 1rem 1rem 0rem 1rem;
//   position: absolute !important;
//   background: #04030f !important;
//   width: 279px !important;
//   top: 24px !important;
//   left: -263px !important;
//   border-radius: 20px !important;

//   &::before {
//     content: "";
//     position: absolute;
//     left: 246px;
//     top: -11px;
//     border-top: 12px solid transparent;
//     border-right: 16px solid #04030f;
//   }

//   &__h3 {
//     margin: 0;
//     font-size: 2rem;
//     font-weight: 500;
//     text-transform: capitalize;
//     color: #000;
//     font-family: "Poppins", sans-serif !important;
//   }

//   &__head {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 8px;
//   }

//   &__icon {
//     -webkit-user-select: none;
//     user-select: none;
//     background-repeat: no-repeat;
//     display: inline-block;
//     fill: currentColor;
//     height: 24px;
//     width: 24px;
//     overflow: hidden;
//     cursor: pointer;
//     color: #0f212f;
//   }

//   &__primaryButton {
//     /* display: flex; */
//     align-items: center;
//     padding: 5px;
//     justify-content: space-between;
//     flex-shrink: 0;
//     background-color: #0f212f !important;
//     color: #ffffff !important;
//     text-align: center;
//     font-family: "Poppins", sans-serif !important;
//     font-size: 1.4rem;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     cursor: pointer;
//     margin-bottom: 1rem;
//   }

//   // .popover-icon {
//   //   width: 18px;
//   //   height: 17px;
//   //   object-fit: contain;
//   //   font-size: large;
//   // }

//   &__text {
//     text-align: justify;
//     color: #04030f;
//     font-size: 1.3rem;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 114.5%;
//     line-height: 15.75px;
//     font-family: "Poppins", sans-serif !important;
//     padding: 1.5rem 6rem 0 0;
//   }
// }

::ng-deep.mdc-tooltip__surface {
  /* background-color: var(--mdc-plain-tooltip-container-color, #fff); */
  background-color: #04030f !important;
  text-align: left;
}
