<!-- <div class="form-container">
  <form class="search">
    <div class="sec-7"></div>

    <div>
      <p>
        {{ initiative_data.name }} ‐
        {{ initiative_data.short_name }}
      </p>
    </div>
  </form>
</div> -->
<div>
  <div>
    <!-- <mat-card-subtitle class="card-title"
      >{{ organization?.name }} ‐ {{ organization?.acronym }}</mat-card-subtitle
    > -->

    <button
     
    class="risk-report-button-box__btn--4 btn--animated btn--white-2 btn"
      mat-raised-button
    
      (click)="complete()"
      type="button"
    >
      Mark as {{ status ? "" : "In" }}complete
    </button>
  </div>
</div>

<div class="text-if-complete">
  <p *ngIf="status === false">
    If you need to make any change to this center, please mark it as incomplete
    first
  </p>
</div>
