<div mat-dialog-container class="phase-box">
  <div class="form-dialog-header">
    <div class="form-dialog-header__text-box">
      <p class="form-dialog-header__text-box__text">
        {{ data.id == 0 ? "Add" : "Edit" }} MELIA
      </p>
    </div>

    <div class="form-dialog-header__icon-box">
      <button
        class="form-dialog-header__icon-box__btn"
        (click)="onCloseDialog()"
      >
        <mat-icon class="form-dialog-header__icon-box__icon-size">
          <img
            class="form-dialog-header__icon-box__icon-size__icon"
            src="../../../assets/shared-image/Vector-close.svg"
            alt="~/Frontend/images/icon _ Vector-close"
          />
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="form-dialog-conten-box-1">
    <mat-dialog-content>
      <form
        [formGroup]="meliaForm"
        class="form-dialog-content"
        *ngIf="meliaForm"
      >
        <!-- //Type of MELIA study or activity  filed----- -->

        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >MELIA study or activity<span class="star">*</span></mat-label
            >
          </div>

          <mat-form-field
            class="form-dialog-content__field"
            floatLabel="always"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select
              class="select-text"
              required
              formControlName="melia_type_id"
              (selectionChange)="getSelected($event)"
            >
              <ng-container
                *ngFor="let meliaType of meliaTypes | sort : 'asc' : 'name'"
              >
                <div class="content">
                  <mat-option [value]="meliaType.id">
                    {{ meliaType.name }}
                  </mat-option>
                  <app-popover>
                    {{ meliaType.description }}
                  </app-popover>
                </div>
              </ng-container>
            </mat-select>

            <mat-error
              class="error"
              *ngIf="meliaForm.controls?.['melia_type_id']?.errors?.['required']"
              >This field is mandatory</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-dialog-content__field--grid-column">
          <div
            *ngIf="showDescription"
            class="form-dialog-content__field--grid-column"
          >
            <div class="form-dialog-content__title-box">
              <mat-label class="form-dialog-content__title-box__title"
                >Description<span class="star">*</span></mat-label
              >
            </div>

            <mat-form-field
              class="form-dialog-content__field"
              floatLabel="always"
              hideRequiredMarker
              appearance="outline"
            >
              <textarea
                required
                class="texta"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="10"
                matInput
                formControlName="description"
              >
              </textarea>
              <mat-error
                class="error"
                *ngIf="meliaForm.controls?.['description']?.errors?.['required']"
                >This field is mandatory</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <!-- //Methodology applied filed----- -->

        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Methodology applied
              <app-popover id="6"></app-popover
            ></mat-label>
          </div>

          <mat-form-field
            class="form-dialog-content__field"
            floatLabel="always"
            hideRequiredMarker
            appearance="outline"
          >
            <textarea
              class="texta"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"
              matInput
              formControlName="methodology"
            >
            </textarea>
          </mat-form-field>
        </div>

        <div class="form-dialog-content__field--grid-column">
          <div class="risk-report-radio-buttons-flex-box">
            <mat-radio-group
              formControlName="experimental"
              aria-label="Select an option"
              color="primary"
            >
              <mat-radio-button [value]="true">Experimental</mat-radio-button>
              <mat-radio-button [value]="false"
                >Non-experimental</mat-radio-button
              >
            </mat-radio-group>
            <app-popover top="0px" id="7"></app-popover>
          </div>
        </div>

        <!-- //Tools and template (questionnaires) filed----- -->

        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Tools and template (questionnaires)
              <app-popover id="8"></app-popover>
            </mat-label>
          </div>

          <mat-form-field
            class="form-dialog-content__field textarea-m-b"
            floatLabel="always"
            hideRequiredMarker
            appearance="outline"
          >
            <textarea
              class="texta"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"
              matInput
              formControlName="questionnaires"
            >
            </textarea>
          </mat-form-field>
        </div>

        <!-- //Anticipated year of completion filed----- -->
        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Anticipated year of completion<span class="star">*</span>
              <app-popover id="9"></app-popover>
            </mat-label>
          </div>

          <mat-form-field
            class="form-dialog-content__field"
            floatLabel="always"
            hideRequiredMarker
            appearance="outline"
          >
            <input
              matInput
              [matDatepicker]="startDatePicker"
              formControlName="completion_year"
              readonly
              [min]="minDate"
            />

            <mat-error
              class="error"
              *ngIf="meliaForm.controls?.['completion_year']?.errors?.['required']"
              >This field is mandatory</mat-error
            >
            <mat-hint>YYYY</mat-hint>

            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker">
              <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker
              startView="multi-year"
              #startDatePicker
              (yearSelected)="chosenYearHandler($event, startDatePicker)"
            ></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- //Tools and template (questionnaires) filed----- -->

        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >How the MELIA study or activity will inform management decisions
              and contribute to internal learning<span class="star">*</span>
              <app-popover id="10"></app-popover>
            </mat-label>
          </div>

          <mat-form-field
            class="form-dialog-content__field textarea-m-b"
            floatLabel="always"
            hideRequiredMarker
            appearance="outline"
          >
            <textarea
              required
              class="texta"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"
              matInput
              formControlName="management_decisions"
            >
            </textarea>
            <mat-error
              class="error"
              *ngIf="meliaForm.controls?.['management_decisions']?.errors?.['required']"
              >This field is mandatory</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-dialog-content__field--grid-column">
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Is this MELIA study/activity conducted in collaboration with
              other Initiatives?<span class="star">*</span>
            </mat-label>
          </div>
          <mat-radio-group
            formControlName="question"
            aria-label="Select an option"
            color="primary"
          >
            <mat-radio-button [value]="true" (change)="radioChange($event)"
              >Yes</mat-radio-button
            >
            <mat-radio-button [value]="false" (change)="radioChange($event)"
              >No</mat-radio-button
            >
          </mat-radio-group>

          <mat-error
            class="error"
            *ngIf="meliaForm.controls?.['question']?.errors?.['required'] && showerror"
            >This field is mandatory</mat-error
          >
        </div>

        <!-- //Other Initiatives filed----- -->
        <div
          *ngIf="requierdOtherInitiatives"
          class="form-dialog-content__field--grid-column"
        >
          <div class="form-dialog-content__title-box">
            <mat-label class="form-dialog-content__title-box__title"
              >Other Initiatives<span class="star">*</span>
              <app-popover id="11"></app-popover>
            </mat-label>
          </div>

          <mat-form-field
            class="form-dialog-content__field"
            floatLabel="always"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select
              class="select-text"
              required
              formControlName="other_initiatives"
              multiple
              [compareWith]="compareId"
            >
              <mat-select-trigger>
                <mat-chip-listbox>
                  <mat-chip
                    *ngFor="
                      let initiative of meliaForm?.value?.other_initiatives
                    "
                    [removable]="true"
                    (removed)="onToppingRemoved(initiative)"
                  >
                    <strong class="official-color">{{
                      initiative.official_code
                    }}</strong>
                    - {{ initiative.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-listbox>
              </mat-select-trigger>

              <div *ngFor="let initiative of initiatives">
                <mat-option
                  class="w"
                  required
                  *ngIf="initiative.id != data?.initiative_id"
                  [value]="initiative"
                >
                  <strong class="official-color">{{
                    initiative.official_code
                  }}</strong>
                  - {{ initiative.name }}
                </mat-option>
              </div>
            </mat-select>

            <mat-error
              class="error"
              *ngIf="meliaForm.controls?.['other_initiatives']?.errors?.['required'] && showerror"
              >This field is mandatory</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <div class="form-dialog-conten-button-box">
            <div class="form-dialog-conten__button-box m-t" align="end">
              <div class="risk-report-button-box">
                <button
                  class="risk-report-button-box__btn btn--animated btn--chestnut btn"
                  type="submit"
                  mat-raised-button
                  mat-button
                  color="primary"
                  (click)="submit()"
                  cdkFocusInitial
                >
                  <mat-icon
                    *ngIf="data.id == 0; else edit"
                    class="create-risk-2"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="13"
                      viewBox="0 0 13 13"
                      fill="none"
                    >
                      <path
                        d="M11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0ZM11.5556 11.5556H1.44444V1.44444H11.5556V11.5556ZM5.77778 10.1111H7.22222V7.22222H10.1111V5.77778H7.22222V2.88889H5.77778V5.77778H2.88889V7.22222H5.77778V10.1111Z"
                        fill="white"
                      />
                    </svg>
                  </mat-icon>
                  <ng-template #edit>
                    <mat-icon class="create-risk">
                      <span class="material-symbols-outlined"> edit_note </span>
                    </mat-icon>
                  </ng-template>
                  {{ data.id == 0 ? "Add" : "Save" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </div>
</div>
