td {
  text-align: center;
}

.wp-title {
  text-align: left;
  width: 660px;
}
mat-card,
mat-tab-group {
  margin-bottom: 50px;
  width: 100% !important;
  table {
    width: 100%;
  }
}
mat-card-title,
mat-card-subtitle {
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
mat-slide-toggle {
  align-self: self-end;
  margin-right: 50px;
  margin-bottom: 20px;
}
.total {
  font-weight: bold;
  td {
    padding-top: 20px;
    border-top: solid 1px rgb(90, 90, 90);
  }
}
.per {
  width: 120px;
}
.budget {
  width: 120px;
}
.no_budget {
  width: 20px;
}
:host ::ng-deep {
  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 12px;
    box-sizing: content-box;
    padding-left: 0;
    padding-top: 4px;
    font-size: 23px;
    font-weight: 100;
  }
  mat-tab-body {
    margin-top: 10px;
  }
}
.error {
  text-align: center;
  color: red;
}

.wp-actions {
  position: absolute;
  right: 20px;
  top: 20px;
  button {
    margin-left: 20px;
  }
}
.submit {
  position: absolute;
  width: 159px;
  right: -83px;
  top: -15px;
}

@import "../sass/layout/admin-module/admin-module";
// @import "../../../../sass/pages/admin-module/user-management";

@import "../sass/abstracts/variables";

.section-risk-report-component {
  // width: 151.2rem;
  // height: 104.9rem;
  // flex-shrink: 0;
  // background-color: #fafafa;
  padding: 0 0 3.2rem 0;
}

.section-risk-report-component-1 {
  // width: 151.2rem;
  // height: 104.9rem;
  // flex-shrink: 0;
  // background-color: #fafafa;
  padding: 3.2rem 0;
}

.section-risk-report-component-2 {
  // width: 151.2rem;
  // height: 104.9rem;
  // flex-shrink: 0;
  // background-color: #fafafa;
  padding: 3.2rem 0;
}
.risk-nav-main {
  width: 94%;
  margin: -15rem auto 9rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.risk-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.risk-nav-link:link,
.risk-nav-link:visited {
  display: inline-block;
  text-decoration: none;

  transition: all 0.3s;

  color: #436280;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.risk-nav-link:hover,
.risk-nav-link:active {
  color: #39536d;
}

.line {
  height: 11px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.team-members-container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 5rem 9rem;
}

// .team-members-container-2 {
//   width: 95%;
//   margin: 0 auto;
//   height: 100%;
//   flex-shrink: 0;
//   box-shadow: 0px 4px 4px 0px #00000040;
//   background-color: #fafafa;
//   border-radius: 1rem;

//   display: flex;
//   flex-direction: column;
//   gap: 1rem;

//   padding: 5rem 9rem;
// }

.team-member-content-box {
  width: 95%;
  margin: 0 auto;

  @media only screen and (max-width: 90em) {
    width: 90%;
  }
}

.team-members-text-box {
  &__text {
    color: #0f212f;
    font-family: "Poppins", sans-serif !important;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.user-management__search-box-flex {
  margin-top: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: left;
  margin-bottom: 3rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63.6869rem;
  height: 3.4865rem;
  flex-shrink: 0;

  margin-left: -4rem !important;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }

  // &__input:focus + &__button {
  // }

  &__button {
    border: none;

    // &:focus {
    //   outline: none;
    // }

    // &:active {
    //   transform: translateY(2px);
    // }
  }

  &__icon {
    height: 2.8rem;

    width: 2rem;
  }
}

.btn-primary-size {
  width: 15.2244rem;
  height: 3.4865rem;
  flex-shrink: 0;
}

.user-management__button-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 0.5rem;
    background-color: $color-button-primary !important;
    box-shadow: 4px 4px 4px 0px #00000040;
    // cursor: url(../../../../../assets/shared-image/Vector-cursor.svg), pointer !important;
  }
}

//table-style

:host {
  ::ng-deep .mat-sort-header-stem {
    background: none !important;
    width: 16px !important;
    background-image: url("../../assets/shared-image/Vector-header-sort.svg") !important;
    background-position: center;
    background-size: cover;
    margin-right: -0.3rem !important;
  }
}

:host {
  ::ng-deep .mat-sort-header-indicator {
    opacity: -1% !important;
  }
}

:host {
  ::ng-deep .mat-sort-header-arrow,
  [dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow {
    margin: 0 0 0 1rem !important;
  }
}

.team-members-icon-table {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.mtable {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 2px;
  background-color: #d9d9d9;

  @media only screen and (max-width: 160em) {
    margin-left: 0.5rem;
  }
}

.h1 {
  width: 4.3rem;
  height: 1.6rem;
}

.th-3 {
  margin-left: 12.5rem;

  text-align: center;
  @media only screen and (max-width: 41.5em) {
    margin-left: 1px;
  }
}

.h3 {
  width: 6.3rem;
  height: 1.6rem;
}

// .h3 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

// .h4 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

// .h5 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

.m {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.example-container {
  height: 44.2rem;
  max-width: 100%;
  overflow: auto;
  padding: 0 0.5rem;
}

.table-box::-webkit-scrollbar {
  width: 0.8rem;
}

.table-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 0.4rem;
  height: 2rem;
}

.table-box::-webkit-scrollbar-thumb {
  background-color: $color-button-primary;
  // outline: 1px solid slategrey;
  border-radius: 4px;
}

.table-box {
  cursor: auto;
}

.table-box::-webkit-scrollbar-button,
.table-box::-webkit-scrollbar-track,
.table-box::-webkit-scrollbar-track-piece,
.table-box::-webkit-scrollbar-corner,
.table-box::-webkit-resizer {
  display: block;
  height: 3rem;
}

.table-header {
  height: 35px;
}

.table-box {
  width: 100%;
  overflow: auto;
  margin-top: 1rem;

  td:nth-child(1) {
    width: 32.2rem;
    height: 4.1rem;
    padding: 1rem;
    padding: 1rem;
  }

  th:nth-child(2) {
    width: 8.9rem;
    height: 4rem;
    padding: 1rem;
  }

  th:nth-child(1) {
    width: 32.2rem;
    height: 4.1rem;
    padding: 1rem;
    padding: 1rem;
  }

  th:nth-child(3) {
    width: 32.2rem;
    height: 4.1rem;
    padding: 1rem;
  }

  td:nth-child(2) {
    width: 32.2rem;
    height: 4.1rem;
    padding: 1rem;
    text-align: left;
  }

  td:nth-child(3) {
    width: 32.2rem;
    height: 4.1rem;
    padding: 1rem;
  }

  td:nth-child(5) {
    width: 35.8rem;
    height: 4.1rem;
    padding: 1rem;
  }

  th:nth-child(5) {
    width: 35.8rem;
    height: 4.1rem;
    padding: 1rem;
  }

  th:nth-child(4) {
    width: 18rem;
    height: 6rem;
    padding: 1rem 1rem 1rem 0.5rem;
    text-align: center;
  }

  td:nth-child(4) {
    width: 18rem;
    height: 6rem;
    padding: 1rem 1rem 1rem 0.5rem;
    text-align: center;
  }

  th:nth-child(5) {
    width: 14.3rem;
    height: 4.1rem;
    padding: 1rem;
  }

  td:nth-child(5) {
    width: 14.3rem;
    height: 4.1rem;
    padding: 1rem;
    text-align: center;
  }

  th:nth-child(6) {
    width: 14.3rem;
    height: 4.1rem;
    padding: 1rem;
  }

  td:nth-child(6) {
    width: 14.3rem;
    height: 4.1rem;
    padding: 1rem;
    text-align: center;
  }

  th:nth-child(7) {
    width: 14.3rem;
    height: 4.1rem;
    padding: 1rem;
  }

  td:nth-child(7) {
    width: 14.3rem;
    height: 4.1rem;
    padding: 1rem;
  }
  td {
    border: 1px solid #b9b9b9b5;

    color: #0f212f;
    text-align: left;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 1.374rem */
  }

  th {
    font-family: "Poppins", sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 130%; /* 1.56rem */
    // background-color: #0f212f;
    color: #ffffff;
    letter-spacing: 0em;
    text-align: center;
    // background-image: linear-gradient(to bottom, #436280, #39536d);
    background-image: linear-gradient(to bottom, #0f212f, #060e14);
    font-style: normal;
  }

  @media only screen and (max-width: 48em) {
    th,
    td {
      padding: 1.6rem;
    }
  }

  @media only screen and (max-width: 34em) {
    th {
      font-size: 1.6rem;
    }

    th {
      padding: 1.4rem;
    }
  }
}

.user-management-paginator-box {
  display: flex;
  justify-content: end;
}

:host {
  ::ng-deep.mat-mdc-tab-labels {
    display: flex;
    flex: 1 0 auto;
    width: 5rem !important;
    margin-left: 6rem !important;
  }
}

:host {
  ::ng-deep.mat-mdc-card {
    box-shadow: none !important;
    --mdc-elevated-card-container-color: none !important;
  }
}

.app {
  width: 200px;
  background-color: #fafafa;
  padding: 0 0 3.2rem 0;
}
