<!-- step-1 -->

<nav class="risk-nav-main">
  <ul class="risk-nav-list">
    <li>
      <a class="risk-nav-link" routerLink="/">Initiatives</a>
    </li>
    <li>
      <a routerLink="''" class="risk-nav-link">></a>
    </li>
    <li>
      <a
        routerLink="{{ initiative_data.id }}/{{
          initiative_data.official_code
        }}/submission"
        class="risk-nav-link"
        ><span class="line">&nbsp;</span>{{ initiative_data.official_code }}</a
      >
    </li>
    <li>
      <a routerLink="''" class="risk-nav-link">></a>
    </li>
    <li>
      <a
        routerLink="/initiative/{{ initiative_data.id }}/{{
          initiative_data.official_code
        }}/submission"
        class="risk-nav-link"
        >Manage Initiative activities</a
      >
    </li>
  </ul>
</nav>

<div class="section-submited">
  <div class="container-mat-tab">
    <mat-card *ngIf="!loading">
      <mat-card-title class="card-title"
        >One CGIAR Initiatives Plan of Results and Budget Template ({{
          this.phase.name
        }})</mat-card-title
      >
      <mat-card-subtitle class="card-title"
        >{{ initiative_data.official_code }} ‐
        {{ initiative_data.name }}</mat-card-subtitle
      >
      <div *ngIf="leaders.length != 0" class="container-mat-tab-2">
        <div class="text-box">
          <p class="leaders-text">Leaders</p>
        </div>

        <div class="table-box-5 mat-elevation-z8">
          <table
            mat-table
            matSort
            [dataSource]="leaders"
            *ngIf="leaders.length != 0"
          >
            <tr
              class="table-header"
              mat-header-row
              *matHeaderRowDef="columnsToDisplay"
            ></tr>
            <tr
              class="table-header"
              mat-row
              *matRowDef="let myRowData; columns: columnsToDisplay"
            ></tr>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let leader">
                {{ leader.full_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let leader">
                {{ leader.email }}
              </td>
            </ng-container>
          </table>
        </div>
      </div>
      <div class="form-container">
        <form class="search">
          <div class="sec-8">
            <!-- <button
              style="
                background-image: linear-gradient(to right, #436280, #30455b);
              "
              class="user-management__button-box__btn btn-primary-size btn--animated btn-primary-size-2"
              mat-raised-button
              color="primary"
              type="button"
              mat-button
              (click)="refresh()"
            >
              Refresh
            </button> -->
          </div>

          <div class="sec-7">
            <button
              style="
                background-image: linear-gradient(to right, #436280, #30455b);
              "
              *ngIf="!this.isCenter"
              class="user-management__button-box__btn btn-primary-size btn--animated btn-primary-size-2"
              mat-raised-button
              color="primary"
              (click)="submit()"
              [disabled]="canSubmit.value == 0"
              [ngClass]="{ disabled: canSubmit.value == 0 }"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </mat-card>

    <mat-card *ngIf="loading">
      <mat-card-title>Loading</mat-card-title>
      <mat-card-subtitle>Preparing Items</mat-card-subtitle>
    </mat-card>

    <mat-tab-group
      *ngIf="!loading && this.partners?.length"
      class="btn--animated"
      [selectedIndex]="selectedTabIndex"
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab *ngIf="isCenter == false" label="Summary">
        <!-- step-2 -->

        <mat-card>
          <mat-card-title>Consolidated</mat-card-title>
          <mat-card-content>
            <div class="table-box mat-elevation-z8">
              <table>
                <tr>
                  <th>WP</th>
                  <ng-container *ngFor="let item of period">
                    <th>{{ item.year }} - {{ item.quarter }}</th>
                  </ng-container>

                  <th>Percentage %</th>
                  <th>Budget</th>
                </tr>
                <ng-container *ngFor="let wp of wps">
                  <tr>
                    <td class="wp-title">{{ wp.title }}</td>
                    <ng-container *ngFor="let item of period">
                      <td>
                        <mat-icon
                          class="icon-sub-table"
                          color="primary"
                          *ngIf="
                            perValuesSammary[wp.ost_wp.wp_official_code][
                              item.id
                            ] == true
                          "
                          >close</mat-icon
                        >
                      </td>
                    </ng-container>
                    <td>
                      {{
                        sammaryTotal[wp.ost_wp.wp_official_code]
                          | number : "1.2-2"
                      }}%
                    </td>
                    <td>
                      {{
                        roundNumber(
                          summaryBudgetsTotal[wp.ost_wp.wp_official_code]
                        )
                      }}
                    </td>
                  </tr>
                </ng-container>
                <tr class="total">
                  <td>Total</td>
                  <ng-container *ngFor="let item of period">
                    <td>
                      <mat-icon
                        class="icon-sub-table"
                        color="primary"
                        *ngIf="finalPeriodVal(item.id)"
                        >close</mat-icon
                      >
                    </td>
                  </ng-container>
                  <td>{{ wpsTotalSum | number : "1.2-2" }}%</td>
                  <td>{{ roundNumber(summaryBudgetsAllTotal) }}</td>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>

        <ng-container *ngFor="let wp of wps">
          <mat-card *ngIf="allData[wp.ost_wp.wp_official_code]">
            <mat-card-title>{{ wp.title }}</mat-card-title>
            <mat-slide-toggle
              [(ngModel)]="toggleSummaryValues[wp.ost_wp.wp_official_code]"
              (toggleChange)="
                toggleSummaryActualValues(wp.ost_wp.wp_official_code)
              "
              >Show decimals</mat-slide-toggle
            >
            <div class="wp-actions">
              <div class="form-container">
                <form class="search">
                  <div class="sec-1">
                    <button
                      style="
                        background-image: linear-gradient(
                          to right,
                          #436280,
                          #30455b
                        );
                      "
                      class="user-management__button-box__btn btn-primary-size"
                      mat-raised-button
                      color="primary"
                      *ngIf="wp.id != 'CROSS' && wp.id != 'IPSR'"
                      type="button"
                      (click)="addMelia(wp)"
                    >
                      <mat-icon>add</mat-icon> MELIA
                    </button>
                  </div>
                </form>
              </div>

              <div class="form-container">
                <form class="search">
                  <div class="sec-2">
                    <button
                      style="
                        background-image: linear-gradient(
                          to right,
                          #436280,
                          #30455b
                        );
                      "
                      class="user-management__button-box__btn btn-primary-size"
                      mat-raised-button
                      color="primary"
                      *ngIf="wp.id == 'IPSR'"
                      type="button"
                      (click)="setIPSR(wp.ost_wp.wp_official_code)"
                    >
                      <mat-icon>settings</mat-icon> IPSR
                    </button>
                  </div>
                </form>
              </div>

              <div class="form-container">
                <form class="search">
                  <div class="sec-3">
                    <button
                      style="
                        background-image: linear-gradient(
                          to right,
                          #436280,
                          #30455b
                        );
                      "
                      class="user-management__button-box__btn btn-primary-size"
                      mat-raised-button
                      color="primary"
                      *ngIf="wp.id == 'CROSS' && phase.show_melia"
                      type="button"
                      (click)="addMelia(wp)"
                    >
                      <mat-icon>add</mat-icon> MELIA
                    </button>
                  </div>
                </form>
              </div>

              <div class="form-container">
                <form class="search">
                  <div class="sec-4">
                    <button
                      style="
                        background-image: linear-gradient(
                          to right,
                          #436280,
                          #30455b
                        );
                      "
                      class="user-management__button-box__btn btn-primary-size-2 btn--animated"
                      mat-raised-button
                      color="primary"
                      *ngIf="wp.id == 'CROSS'"
                      type="button"
                      (click)="addCross()"
                    >
                      <mat-icon>add</mat-icon> Cross-Cutting
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <mat-card-content>
              <div class="table-box-1 mat-elevation-z8">
                <table>
                  <tr>
                    <th>Actions</th>
                    <th>Results</th>
                    <th>Type</th>
                    <ng-container *ngFor="let item of period">
                      <th>{{ item.year }} - {{ item.quarter }}</th>
                    </ng-container>
                    <th>Percentage %</th>
                    <th>Budget</th>
                  </tr>
                  <ng-container
                    *ngFor="let item of allData[wp.ost_wp.wp_official_code]"
                  >
                    <tr>
                      <td>
                        <ng-container *ngIf="item.category == 'MELIA'">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button
                              (click)="editMelia(item.id, wp)"
                              mat-menu-item
                            >
                              <mat-icon>edit</mat-icon> Edit
                            </button>
                            <button
                              (click)="deleteMelia(item.id)"
                              mat-menu-item
                            >
                              <mat-icon>delete</mat-icon> Delete
                            </button>
                            <button mat-menu-item (click)="viewData(item)">
                              <mat-icon>visibility</mat-icon> View Data
                            </button>
                          </mat-menu>
                        </ng-container>
                        <ng-container *ngIf="item.category == 'CROSS'">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button (click)="editCross(item.id)" mat-menu-item>
                              <mat-icon>edit</mat-icon> Edit
                            </button>
                            <button
                              (click)="deleteCross(item.id)"
                              mat-menu-item
                            >
                              <mat-icon>delete</mat-icon> Delete
                            </button>
                            <button mat-menu-item (click)="viewData(item)">
                              <mat-icon>visibility</mat-icon> View Data
                            </button>
                          </mat-menu>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            item.category != 'CROSS' && item.category != 'MELIA'
                          "
                        >
                          <button mat-icon-button (click)="viewData(item)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                        </ng-container>
                      </td>
                      <td class="wp-title">
                        <ng-container *ngIf="item?.meliaType?.name">
                          {{ item?.meliaType.name }}
                        </ng-container>
                        <ng-container *ngIf="!item?.meliaType?.name">
                          {{
                            item?.ipsr?.id
                              ? item?.ipsr.title + " (" + item.value + ")"
                              : item.title
                          }}
                        </ng-container>
                      </td>
                      <td>{{ item.category }}</td>
                      <ng-container *ngFor="let per of period">
                        <td>
                          <!-- to be checked -->
                          <mat-icon
                            class="icon-sub-table"
                            color="primary"
                            *ngIf="
                              perAllValues[wp.ost_wp.wp_official_code][item.id][
                                per.id
                              ] == true
                            "
                            >close</mat-icon
                          >
                        </td>
                      </ng-container>
                      <td>
                        {{
                          toggleSummaryValues[wp.ost_wp.wp_official_code]
                            ? sammary[wp.ost_wp.wp_official_code][item.id]
                            : roundNumber(
                                sammary[wp.ost_wp.wp_official_code][item.id]
                              )
                        }}%
                      </td>
                      <td>
                        {{
                          toggleSummaryValues[wp.ost_wp.wp_official_code]
                            ? summaryBudgets[wp.ost_wp.wp_official_code][
                                item.id
                              ]
                            : roundNumber(
                                summaryBudgets[wp.ost_wp.wp_official_code][
                                  item.id
                                ]
                              )
                        }}
                      </td>
                    </tr>
                  </ng-container>
                  <tr class="total">
                    <td colspan="3">Subtotal</td>
                    <ng-container *ngFor="let per of period">
                      <td>
                        <mat-icon
                          class="icon-sub-table"
                          color="primary"
                          *ngIf="
                            finalItemPeriodVal(
                              wp.ost_wp.wp_official_code,
                              per.id
                            )
                          "
                          >close</mat-icon
                        >
                      </td>
                    </ng-container>
                    <td>
                      {{
                        toggleSummaryValues[wp.ost_wp.wp_official_code]
                          ? sammaryTotal[wp.ost_wp.wp_official_code]
                          : roundNumber(
                              sammaryTotal[wp.ost_wp.wp_official_code]
                            )
                      }}%
                    </td>
                    <td>
                      {{
                        toggleSummaryValues[wp.ost_wp.wp_official_code]
                          ? summaryBudgetsTotal[wp.ost_wp.wp_official_code]
                          : roundNumber(
                              summaryBudgetsTotal[wp.ost_wp.wp_official_code]
                            )
                      }}
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container> </mat-tab
      >.

      <!-- fgfgdd -->

      <mat-tab *ngFor="let partner of partners" label="{{ partner.name }}">
        <ng-template mat-tab-label>
          <span style="margin-right: 10px">{{
            partner?.acronym ? partner?.acronym : partner?.name
          }}</span>
          <mat-icon *ngIf="checkComplete(partner.code)"
            >check_circle_outline</mat-icon
          >
        </ng-template>

        <app-center-status
          (change)="partnerStatusChange($event, partner.code)"
          [status]="!checkComplete(partner.code)"
          [initiative_id]="initiative_data.id"
          [organization_code]="partner.code"
          [organization]="organizationSelected"
          (clicked)="validateCenter(partner.code)"
        >
          ></app-center-status
        >

        <ng-container *ngFor="let wp of wps">
          <mat-card
            *ngIf="
              partnersData[partner.code] &&
              partnersData[partner.code][wp.ost_wp.wp_official_code]
            "
          >
            <mat-card-title>{{ wp.title }}</mat-card-title>
            <mat-slide-toggle
              [(ngModel)]="
                toggleValues[partner.code][wp.ost_wp.wp_official_code]
              "
              (toggleChange)="
                toggleActualValues(partner.code, wp.ost_wp.wp_official_code)
              "
              >Show decimals</mat-slide-toggle
            >

            <mat-card-content>
              <div class="table-box-2 mat-elevation-z8">
                <table
                  [ngClass]="{
                    error: errors[partner.code][wp.ost_wp.wp_official_code]
                  }"
                >
                  <tr>
                    <th>Results</th>
                    <th>Type</th>
                    <ng-container *ngFor="let item of period">
                      <th>{{ item.year }} - {{ item.quarter }}</th>
                    </ng-container>
                    <th class="per">Percentage %</th>
                    <!-- <th class="no_budget"></th> -->
                    <th class="budget">Budget</th>
                  </tr>

                  <ng-container
                    *ngFor="
                      let item of partnersData[partner.code][
                        wp.ost_wp.wp_official_code
                      ]
                    "
                  >
                    <tr>
                      <td class="wp-title">
                        <ng-container *ngIf="item?.meliaType?.name">
                          {{ item?.meliaType.name }}
                        </ng-container>
                        <ng-container *ngIf="!item?.meliaType?.name">
                          {{
                            item?.ipsr?.id
                              ? item?.ipsr.title + " (" + item.value + ")"
                              : item.title
                          }}
                        </ng-container>
                      </td>
                      <td>{{ item.category }}</td>
                      <ng-container *ngFor="let per of period">
                        <td>
                          <mat-checkbox
                            [(ngModel)]="
                              perValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id][per.id]
                            "
                            (change)="
                              changeEnable(
                                partner.code,
                                wp.ost_wp.wp_official_code,
                                item.id,
                                per.id,
                                $event
                              )
                            "
                          ></mat-checkbox>
                        </td>
                      </ng-container>
                      <td>
                        <mat-form-field
                          class="form-dialog-content__field"
                          [matTooltip]="
                            values[partner.code][wp.ost_wp.wp_official_code][
                              item.id
                            ] === 0
                              ? 'You can mark this result as no budget assigned click to more info'
                              : ''
                          "
                          matTooltipPosition="left"
                          [satPopoverAnchor]="popoverTargetLikelihood"
                          (click)="popoverTargetLikelihood.toggle()"
                          floatLabel="always"
                          hideRequiredMarker
                          appearance="outline"
                          class="per"
                          *ngIf="
                            item.category != 'EOI' && item.category != 'OUTCOME'
                          "
                        >
                          <input
                            *ngIf="
                              toggleValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ]
                            "
                            [disabled]="
                              (perValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id] | inQue) ||
                              noValuesAssigned[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            (keyup)="
                              changeCalc(
                                partner.code,
                                wp.ost_wp.wp_official_code,
                                item.id,
                                'percent'
                              )
                            "
                            [(ngModel)]="
                              values[partner.code][wp.ost_wp.wp_official_code][
                                item.id
                              ]
                            "
                            matInput
                          />
                          <input
                            *ngIf="
                              !toggleValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ]
                            "
                            [disabled]="
                              (perValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id] | inQue) ||
                              noValuesAssigned[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            (keyup)="
                              changeCalc(
                                partner.code,
                                wp.ost_wp.wp_official_code,
                                item.id,
                                'percent'
                              )
                            "
                            [(ngModel)]="
                              displayValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            matInput
                          />
                          <mat-icon matSuffix>%</mat-icon>
                        </mat-form-field>
                        <sat-popover #popoverTargetLikelihood hasBackdrop>
                          <div
                            class="popover"
                            *ngIf="
                              values[partner.code][wp.ost_wp.wp_official_code][
                                item.id
                              ] === 0
                            "
                          >
                            <div class="popover__head">
                              <h3 class="popover__h3">No budget</h3>
                              <mat-icon
                                class="popover__icon"
                                (click)="popoverTargetLikelihood.close()"
                                >close</mat-icon
                              >
                            </div>
                            <p class="popover__text">
                              You can mark this result as no budget assigned
                              <span>
                                <mat-checkbox
                                  *ngIf="
                                    !(
                                      perValues[partner.code][
                                        wp.ost_wp.wp_official_code
                                      ][item.id] | inQue
                                    ) &&
                                    item.category != 'EOI' &&
                                    item.category != 'OUTCOME' &&
                                    values[partner.code][
                                      wp.ost_wp.wp_official_code
                                    ][item.id] == 0
                                  "
                                  [(ngModel)]="
                                    noValuesAssigned[partner.code][
                                      wp.ost_wp.wp_official_code
                                    ][item.id]
                                  "
                                  (change)="
                                    toggleNoValues(
                                      partner.code,
                                      wp.ost_wp.wp_official_code,
                                      item.id
                                    )
                                  "
                                  matTooltip="No budget assigned"
                                ></mat-checkbox
                              ></span>
                            </p>
                          </div>
                        </sat-popover>
                      </td>

                      <td>
                        <mat-form-field
                          [matTooltip]="
                            values[partner.code][wp.ost_wp.wp_official_code][
                              item.id
                            ] === 0
                              ? 'You can mark this result as no budget assigned click to more info'
                              : ''
                          "
                          [satPopoverAnchor]="popoverCheckbox"
                          (click)="popoverCheckbox.toggle()"
                          class="budget"
                          *ngIf="
                            item.category != 'EOI' && item.category != 'OUTCOME'
                          "
                        >
                          <input
                            *ngIf="
                              toggleValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ]
                            "
                            [disabled]="
                              (perValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id] | inQue) ||
                              !wp_budgets[partner.code][
                                wp.ost_wp.wp_official_code
                              ] ||
                              noValuesAssigned[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            (keyup)="
                              changeCalc(
                                partner.code,
                                wp.ost_wp.wp_official_code,
                                item.id,
                                'budget'
                              )
                            "
                            [(ngModel)]="
                              budgetValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            matInput
                          />
                          <input
                            *ngIf="
                              !toggleValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ]
                            "
                            [disabled]="
                              (perValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id] | inQue) ||
                              !wp_budgets[partner.code][
                                wp.ost_wp.wp_official_code
                              ] ||
                              noValuesAssigned[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            (keyup)="
                              changeCalc(
                                partner.code,
                                wp.ost_wp.wp_official_code,
                                item.id,
                                'budget'
                              )
                            "
                            [(ngModel)]="
                              displayBudgetValues[partner.code][
                                wp.ost_wp.wp_official_code
                              ][item.id]
                            "
                            matInput
                          />
                        </mat-form-field>
                      </td>

                      <sat-popover #popoverCheckbox hasBackdrop>
                        <div
                          class="popover-2"
                          *ngIf="
                            values[partner.code][wp.ost_wp.wp_official_code][
                              item.id
                            ] === 0
                          "
                        >
                          <div class="popover__head">
                            <h3 class="popover__h3">No budget</h3>
                            <mat-icon
                              class="popover__icon"
                              (click)="popoverCheckbox.close()"
                              >close</mat-icon
                            >
                          </div>
                          <p class="popover__text">
                            You can mark this result as no budget assigned
                            <span>
                              <mat-checkbox
                                *ngIf="
                                  !(
                                    perValues[partner.code][
                                      wp.ost_wp.wp_official_code
                                    ][item.id] | inQue
                                  ) &&
                                  item.category != 'EOI' &&
                                  item.category != 'OUTCOME' &&
                                  values[partner.code][
                                    wp.ost_wp.wp_official_code
                                  ][item.id] == 0
                                "
                                [(ngModel)]="
                                  noValuesAssigned[partner.code][
                                    wp.ost_wp.wp_official_code
                                  ][item.id]
                                "
                                (change)="
                                  toggleNoValues(
                                    partner.code,
                                    wp.ost_wp.wp_official_code,
                                    item.id
                                  )
                                "
                                matTooltip="No budget assigned"
                              ></mat-checkbox
                            ></span>
                          </p>
                        </div>
                      </sat-popover>
                    </tr>
                  </ng-container>
                  <tr class="total">
                    <td [colSpan]="period.length + 2">Subtotal</td>
                    <td>
                      {{
                        toggleValues[partner.code][wp.ost_wp.wp_official_code]
                          ? totals[partner.code][wp.ost_wp.wp_official_code]
                          : roundNumber(
                              totals[partner.code][wp.ost_wp.wp_official_code]
                            )
                      }}%
                    </td>
                    <!-- <td></td> -->
                    <td>
                      <div class="form">
                        <mat-form-field class="budget">
                          <mat-label>Total Budget</mat-label>
                          <input
                            matInput
                            [(ngModel)]="
                              wp_budgets[partner.code][
                                wp.ost_wp.wp_official_code
                              ]
                            "
                            (keyup)="
                              wpBudgetChange(
                                partner.code,
                                wp.ost_wp.wp_official_code,
                                wp_budgets[partner.code][
                                  wp.ost_wp.wp_official_code
                                ]
                              )
                            "
                          />
                        </mat-form-field>
                      </div>
                    </td>
                    <!-- <td></td> -->
                  </tr>
                </table>
              </div>
              <p class="error">
                {{ errors[partner.code][wp.ost_wp.wp_official_code] }}
              </p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
