<button
  mat-raised-button
  class="add_new_btn"
  color="primary"
  (click)="openDialog()"
>
  Add new
</button>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let organization">{{ organization.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let organization">
        {{ organization.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acronym">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acronym</th>
      <td mat-cell *matCellDef="let organization">
        {{ organization.acronym }}
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
      <td mat-cell *matCellDef="let organization">
        {{ organization.code }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let organization">
        <button mat-icon-button (click)="openDialog(organization.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(organization.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 30, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
