@import "../sass/layout/admin-module/admin-module";
// @import "../../../../sass/pages/admin-module/user-management";

@import "../sass/abstracts/variables";
@import "../sass/components/button";

.section-risk-report-component {
  // width: 151.2rem;
  // height: 104.9rem;
  // flex-shrink: 0;
  background-color: #fafafa;
  padding: 3.2rem 0;
  min-height: calc(100vh - 210px);
}

.risk-nav-main {
  width: 94%;
  margin: -15rem auto 9rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.risk-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.risk-nav-link:link,
.risk-nav-link:visited {
  display: inline-block;
  text-decoration: none;

  transition: all 0.3s;

  color: #5569dd;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.risk-nav-link:hover,
.risk-nav-link:active {
  color: #5569dd;
}

.line {
  height: 11px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.team-members-container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 15rem 0 2rem 0;
}

.team-member-content-box {
  width: 95%;
  margin: 0 auto;

  @media only screen and (max-width: 90em) {
    width: 90%;
  }
}

.team-members-text-box {
  &__text {
    color: #0f212f;
    font-family: "Poppins", sans-serif !important;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.user-management__search-box-flex {
  margin-top: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: left;
  margin-bottom: 3rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63.6869rem;
  height: 3.4865rem;
  flex-shrink: 0;

  margin-left: -4rem !important;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }

  // &__input:focus + &__button {
  // }

  &__button {
    border: none;

    // &:focus {
    //   outline: none;
    // }

    // &:active {
    //   transform: translateY(2px);
    // }
  }

  &__icon {
    height: 2.8rem;

    width: 2rem;
  }
}

.btn-primary-size {
  width: 15.2244rem;
  height: 3.4865rem;
  flex-shrink: 0;
}

.user-management__button-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 0.5rem;
    // background-color: $color-button-primary !important;
    background-image: linear-gradient(to top right, #0f212f, #060e14);
    box-shadow: 4px 4px 4px 0px #00000040;
    // cursor: url(../../../../../assets/shared-image/Vector-cursor.svg), pointer !important;
    background-image: linear-gradient(
      to right bottom,
      #9e553e,
      #7c4230
    ) !important;
  }
}

//table-style

:host {
  ::ng-deep .mat-sort-header-stem {
    background: none !important;
    width: 16px !important;
    background-image: url("../../assets/shared-image/Vector-header-sort.svg") !important;
    background-position: center;
    background-size: cover;
    margin-right: -0.3rem !important;
  }
}

:host {
  ::ng-deep .mat-sort-header-indicator {
    opacity: -1% !important;
  }
}

:host {
  ::ng-deep .mat-sort-header-arrow,
  [dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow {
    margin: 0 0 0 1rem !important;
  }
}

.team-members-icon-table {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.mtable {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 2px;
  background-color: #d9d9d9;

  @media only screen and (max-width: 160em) {
    margin-left: 0.5rem;
  }
}

.h1 {
  width: 4.3rem;
  height: 1.6rem;
}

.th-3 {
  margin-left: 12.5rem;

  text-align: center;
  @media only screen and (max-width: 41.5em) {
    margin-left: 1px;
  }
}

.h3 {
  width: 6.3rem;
  height: 1.6rem;
}

// .h3 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

// .h4 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

// .h5 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

.m {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.example-container {
  height: 44.2rem;
  max-width: 100%;
  overflow: auto;
  padding: 0 0.5rem;
}

.table-box::-webkit-scrollbar {
  width: 0.8rem;
}

.table-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 0.4rem;
  height: 2rem;
}

.table-box::-webkit-scrollbar-thumb {
  background-color: $color-button-primary;
  // outline: 1px solid slategrey;
  border-radius: 4px;
}

.table-box {
  cursor: auto;
}

.table-box::-webkit-scrollbar-button,
.table-box::-webkit-scrollbar-track,
.table-box::-webkit-scrollbar-track-piece,
.table-box::-webkit-scrollbar-corner,
.table-box::-webkit-resizer {
  display: block;
  height: 3rem;
}

.table-header {
  height: 35px;
}

.table-box {
  width: 100%;
  overflow: auto;
  margin-top: 1rem;

  // td:nth-child(1) {
  //   width: 32.2rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  //   padding: 1rem;
  // }

  // th:nth-child(2) {
  //   width: 8.9rem;
  //   height: 4rem;
  //   padding: 1rem;
  // }

  // th:nth-child(1) {
  //   width: 32.2rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  //   padding: 1rem;
  // }

  // th:nth-child(3) {
  //   width: 32.2rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  // }

  // td:nth-child(2) {
  //   width: 32.2rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  //   text-align: left;
  // }

  // td:nth-child(3) {
  //   width: 32.2rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  // }

  // th:nth-child(4) {
  //   width: 18rem;
  //   height: 6rem;
  //   padding: 1rem 1rem 1rem 0.5rem;
  //   text-align: center;
  // }

  // td:nth-child(4) {
  //   width: 18rem;
  //   height: 6rem;
  //   padding: 1rem 1rem 1rem 0.5rem;
  //   text-align: center;
  // }

  // th:nth-child(5) {
  //   width: 14.3rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  // }

  // td:nth-child(5) {
  //   width: 16.3rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  //   text-align: center;
  // }

  // th:nth-child(6) {
  //   width: 16.3rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  // }

  // td:nth-child(6) {
  //   width: 14.3rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  //   text-align: center;
  // }

  // th:nth-child(7) {
  //   width: 14.3rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  // }

  // td:nth-child(7) {
  //   width: 14.3rem;
  //   height: 4.1rem;
  //   padding: 1rem;
  // }
  td {
    border: 1px solid #b9b9b9b5;

    color: #2f2f2f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 1.374rem */
    // background-color: #f0f0f0;
  }

  th {
    font-family: "Poppins", sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 130%; /* 1.56rem */
    // background-color: #0f212f;
    color: #ffffff;
    letter-spacing: 0em;
    text-align: center;
    // background-image: linear-gradient(to bottom, #436280, #39536d);
    // background-image: linear-gradient(to bottom, #0f212f, #060e14);
    // background-image: linear-gradient(to top right, #0f212f, #060e14);
    // background: linear-gradient(to bottom left, #0f212f, #0d1c28);
    background: linear-gradient(to right, #2a2e45, #212537);
    font-style: normal;
  }

  @media only screen and (max-width: 48em) {
    th,
    td {
      padding: 1.6rem;
    }
  }

  @media only screen and (max-width: 34em) {
    th {
      font-size: 1.6rem;
    }

    th {
      padding: 1.4rem;
    }
  }
}

.user-management-paginator-box {
  display: flex;
  justify-content: end;
}

// ::ng-deep.mat-mdc-option:hover:not(.mdc-list-item--disabled),
// .mat-mdc-option:focus:not(.mdc-list-item--disabled),
// .mat-mdc-option.mat-mdc-option-active,
// .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
//     .mdc-list-item--disabled
//   ) {
//   background-image: linear-gradient(
//     to right bottom,
//     #9e543eaa,
//     #7c4230db
//   ) !important;

//   color: #ffffff !important;
// }

// ::ng-deep.mat-mdc-option.mat-mdc-option-active,
// .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
//     .mdc-list-item--disabled
//   ) {
//   background-image: linear-gradient(
//     to right bottom,
//     #9e543eaa,
//     #7c4230db
//   ) !important;
// }

// ::ng-deep.mat-mdc-option.mat-mdc-option-hover,
// .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
//     .mdc-list-item--disabled
//   ) {
//   color: #ffffff !important;
// }

// ::ng-deep.mat-primary
//   .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
//   .mdc-list-item__primary-text {
//   color: var(--mdc-theme-primary, #ffffff) !important;
// }

// ::ng-deep.mat-pseudo-checkbox {
//   border-radius: 2px;
//   cursor: pointer;
//   display: inline-block;
//   vertical-align: middle;
//   box-sizing: border-box;
//   position: relative;
//   flex-shrink: 0;
//   transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1),
//     background-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
//   filter: invert(96%) sepia(100%) saturate(16%) hue-rotate(269deg)
//     brightness(104%) contrast(104%) !important;
// }

::ng-deep.mat-mdc-select-arrow {
  width: 16px !important;
  height: 10px !important;
  background-color: #ffffff !important;
  background-image: url("../../assets/shared-image/Vector-risk-m.svg");
  background-position: center;
  background-size: cover;
}

::ng-deep.mat-mdc-select-arrow svg {
  opacity: 0 !important;
}

.risk-report-btn-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 15px;
  transition: all 0.3s;
}

.create-risk {
  width: 1.5rem !important;
  height: 1.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.001rem;
  left: 0.1rem;
}
.risk-report-title-box {
  text-align: center;
  padding: 4.8rem 0;
  &__title {
    color: #0f212f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;

  display: inline-block;

  transition: all 0.2s;
  position: relative;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #5569dd !important;
  color: #ffffff;
}
.btn--white::after {
  background-color: #5569dd !important;
}

.btn--white-2 {
  background-image: linear-gradient(to right, #436280, #30455b);
  color: #ffffff;
}
.btn--white-2::after {
  background-image: linear-gradient(to right, #436280, #30455b);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.85s;
  animation-fill-mode: backwards;
}

::ng-deep.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
  /* color: var(--mdc-theme-primary, #673ab7); */
  color: #2a2e45 !important;
}

:host {
  ::ng-deep.mat-mdc-option .mdc-list-item__primary-text {
    white-space: normal;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-family: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    margin-right: auto;
    color: #2a2e45 !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.3rem !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }
}
