<div class="globalContainer">
    <div class="head">
        <h2 class="primaryColor">Team Members</h2>
        <div class="buttons">
            <button  class="primaryButton" (click)="openNewTeamMemberDialog()">Add New Team Member</button>
        </div>
    </div>
    <div class="tableContainer">
      <div class="table">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="User Name">
            <th class="big bold center spacing border-left-0 " mat-header-cell *matHeaderCellDef> User Name </th>
            <td class="border-left-0 center " mat-cell *matCellDef="let element" style="min-width: 170px;"> {{element['User Name']}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Email">
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Email </th>
            <td  class="center" mat-cell *matCellDef="let element" style="min-width: 190px;"> {{element?.user?.email || element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="User">
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> User name </th>
            <td  class="center" mat-cell *matCellDef="let element" style="min-width: 190px;"> {{element?.user?.full_name}} </td>
          </ng-container>
          <ng-container matColumnDef="Creation Date">
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Creation Date </th>
            <td  class="center" mat-cell *matCellDef="let element" style="min-width: 150px;"> {{element.createdAt | date:'MMMM d, y'}} </td>
          </ng-container>

          <ng-container matColumnDef="Role">
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Role </th>
            <td  class="center" mat-cell *matCellDef="let element" style="min-width: 110px;"> {{element.role}} </td>
          </ng-container>
          <ng-container matColumnDef="organizations">
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Organizations </th>
            <td  class="center" mat-cell *matCellDef="let element" style="min-width: 110px;"> {{  join(element.organizations)   }} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Status </th>
            <td  class="center" mat-cell *matCellDef="let element" style="min-width: 110px;"> {{ element.user_id ? 'Active' :'Invited'   }} </td>
          </ng-container>


          <ng-container matColumnDef="Actions" stickyEnd>
            <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="center" mat-cell *matCellDef="let element" style="min-width: 150px;">
                <button matTooltip="Update" class="actionButton" (click)="openEditTeamMemberDialog(element.id, element)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </button>
                <button matTooltip="Delete" class="actionButton" (click)="deleteMember(element.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>
               
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
   
</div>
