<h1 mat-dialog-title>{{ data.id ? "Edit" : "Add" }} Cross-Cutting item</h1>
<div mat-dialog-content>
  <form [formGroup]="crossForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"> </textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>
    {{ data.id ? "Save" : "Add" }}
  </button>
</div>
