.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 209, 252);
    color: #fff;
    h1 {
        margin-bottom: 0px;
        color: #fff;
    }
    button {
        all: unset;
        cursor: pointer;
        margin: 1em 1.5em;
    }
}
.dialogBody {
    min-width: 300px;
    padding: 1.5em;
    background-color: rgb(255, 255, 255);
    .w-90 {
        width: 100%;
    }
    .end {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .error{
            margin-right: 30px;
        }
    }
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding: 8px ;
}