<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">
      {{ data.role == "add" ? "Add New" : "Update" }} Team Member
    </p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-conten-box-1">
  <form *ngIf="memberForm" [formGroup]="memberForm" class="form-dialog-content">
    <!-- //search-by-Email filed----- -->

    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Select user<span class="star">*</span></mat-label
        >
      </div>

      <ng-select
        [items]="users"
        appearance="outline"
        [bindLabel]="bindValue.full_name"
        bindValue="id"
        [hideSelected]="true"
        [minTermLength]="2"
        labelForId="id"
        formControlName="user_id"
        typeToSearchText="Please enter 2 or more characters to search"
        (search)="search($event)"
        #agesSelect
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-search="searchTerm"
          let-index="index"
        >
          <div class="ng-select-option-flex">
            <span>{{ item.full_name }}</span> <span>({{ item.email }})</span>
          </div>
        </ng-template>
      </ng-select>

      <mat-error
        class="error"
        *ngIf="memberForm?.errors?.['atLeastOneRequired'] && showerror"
        >Email or User must be not empty</mat-error
      >
    </div>

    <!-- //Role  filed----- -->
    <div class="form-dialog-conten-box-2">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Role<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--2"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <mat-select placeholder="Role" formControlName="userRole" #userRole>
          <mat-option *ngFor="let role of Roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error
          class="error"
          *ngIf="memberForm.controls['userRole'].errors?.['required']"
          >User Role is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-dialog-content__field--grid-column">
      <div
        *ngIf="userRole.value == 'Contributor'"
        class="form-dialog-content__title-box"
      >
        <mat-label class="form-dialog-content__title-box__title"
          >Select organizations<span class="star">*</span></mat-label
        >
      </div>

      <ng-select
        *ngIf="userRole.value == 'Contributor'"
        [closeOnSelect]="false"
        appearance="outline"
        [items]="organizations"
        bindLabel="name"
        formControlName="organizations"
        [hideSelected]="true"
        [minTermLength]="2"
        [multiple]="true"
      >
      </ng-select>
      <mat-error
        class="error organizationsError"
        *ngIf="memberForm?.errors?.['organizationsRequired'] && showerror"
        >At least one Organization should be selected</mat-error
      >
    </div>

    <div>
      <div class="form-dialog-conten-button-box">
        <div class="form-dialog-conten__button-box" align="end">
          <!-- <button mat-button mat-dialog-close>Cancel</button> -->

          <button
            class="form-dialog-conten__button-box__btn"
            type="submit"
            mat-raised-button
            mat-button
            color="primary"
            mat-button
            color="primary"
            (click)="submit()"
          >
            {{ data.role == "add" ? "Add" : "Edit" }}
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="end">
   
    </div> -->
  </form>
</div>
