@import "../../sass/pages/admin-module/user-management";
@import "../../sass/layout/admin-module/user-management";
@import "../../sass/components/button";

// :host {
//   ::ng-deep.mdc-tooltip__surface {
//     color: #04030f !important;
//     border-radius: 16px !important;
//     background: #fafafa !important;
//     padding: 16px !important;
//     /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important; */
//     text-align: left !important;
//     box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3) !important;
//     position: relative !important;
//     left: 1rem !important;
//     top: -3rem !important;
//     border: 0.1rem solid #828282 !important;
//   }
// }

.form-dialog-content {
  display: flex;
  flex-direction: column;
  // gap: 3rem;
}

.form-dialog-conten-button-box {
  text-align: right;
  // margin-top: 3rem;

  .error {
    float: left !important;
  }
}

.t-b {
  display: flex;
  gap: 0.8rem;
}

::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
  padding: 0 0.5em;
  min-height: 60px;
  width: 57.8rem;

  position: relative !important;
  background-color: none !important;
  &::-webkit-input-placeholder {
    font-family: "Poppins", sans-serif;

    font-style: normal;
    font-weight: 300;

    position: absolute !important;
    top: 50% !important;
    left: 45% !important;
    transform: translate(-71%, -43%);

    color: #142837d9 !important;

    font-size: 1.4rem !important;

    line-height: 171.5%; /* 2.401rem */
  }
}

.form-dialog-content {
  position: relative;
  &__title-box {
    margin-bottom: 1rem;
    margin-left: -1rem;
    &__title {
      font-family: "Poppins", sans-serif !important;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.7rem;
      letter-spacing: 0em;
      text-align: left;
      color: #000000;
    }
  }

  &__field {
    width: 57.8rem;
    height: 4.4rem !important;
    border-radius: 10px !important;
    background-color: none;

    // border: 1px solid #808080 !important;

    &--grid-column {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    // border: 1px solid #808080 !important;
  }

  &__field--2 {
    width: 25.2rem;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.5px;
  }

  &__field--3 {
    width: 28.6rem;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.5px;
  }

  // &__button-box {
  //   &__btn {

  //   }
  // }
}

.ng-select-option-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #0f212f;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 1.374rem */
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 49px !important;

  border: 2px solid #8080804c !important;
  border-radius: 1rem !important;
}

::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  box-sizing: content-box;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  outline: none;
  padding: 0;
  cursor: default;
  width: 100%;
  position: relative;
  // top: 13px !important;
}

:host {
  ::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
    padding: 0 0.5em;
    min-height: 60px;
    width: 57.8rem;
    // height: 4.4rem !important;
    position: relative !important;
    background-color: none !important;
    /* border-radius: 1rem; */
    /* border: 2.5px solid #8080807c !important; */
    /* border-radius: 1rem !important; */
    height: 49px !important;
    border: 2px solid #8080804c !important;
    border-radius: 1rem !important;
  }
}

// ::ng-deep.ng-select.ng-select-single
//   .ng-select-container
//   .ng-value-container
//   .ng-input {
//   top: 18px !important;
//   left: 0;
//   padding-left: 15px !important;
//   padding-right: 50px;
// }

:host {
  ::ng-deep.mat-mdc-form-field-error {
    color: var(--mdc-theme-error, #f44336);
    font-size: 1.3rem !important;
    // animation: moveInBottom 0.5s ease-out 0.75s !important;
    // animation-fill-mode: backwards !important;
    animation-name: moveInLeft !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

:host {
  ::ng-deep .mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0 !important;
  }
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: rgba(255, 0, 0, 0) !important;
}

.risk-report-btn-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 15px;
  transition: all 0.3s;
}

.create-risk {
  width: 2.2rem !important;
  height: 2.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.1rem;
  left: 0.5rem;
}

.create-risk-2 {
  width: 1.5rem !important;
  height: 1.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: 0.4rem;
  left: 0.5rem;
}
.risk-report-title-box {
  text-align: center;
  padding: 4.8rem 0;
  &__title {
    color: #0f212f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;

  display: inline-block;

  transition: all 0.2s;
  position: relative;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #0f212f;
  color: #ffffff;
}
.btn--white::after {
  background-color: #0f212f;
}

.btn--chestnut {
  background-color: #5569dd !important;
  color: #ffffff;
}
.btn--chestnut::after {
  background-color: #5569dd !important;
}

.btn--white-2 {
  background-image: linear-gradient(to right, #436280, #30455b);
  color: #ffffff;
}
.btn--white-2::after {
  background-image: linear-gradient(to right, #436280, #30455b);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.85s;
  animation-fill-mode: backwards;
}

::ng-deep.cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  .mdc-menu-surface.mat-mdc-select-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-origin: top center;
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem !important;
  max-height: 200px;
}

::ng-deep.mat-mdc-option .mdc-list-item__primary-text {
  white-space: normal;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  margin-right: auto;
  color: #2a2e45 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

::ng-deep.mat-primary
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #5569dd !important;
}

:host {
  ::ng-deep.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #ebf5ff !important;
  }
}

.select-text::-webkit-scrollbar {
  width: 0.8rem;
}

.select-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

.select-text::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

::ng-deep.ng-value-container::-webkit-scrollbar {
  width: 0.8rem;
}

::ng-deep.ng-value-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

::ng-deep.ng-value-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

:host {
  ::ng-deep.mat-mdc-form-field-error {
    color: var(--mdc-theme-error, #f44336);
    font-size: 1.3rem !important;
    animation-name: moveInLeft !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }
}

:host {
  ::ng-deep.mat-mdc-chip.mdc-evolution-chip--with-trailing-action
    .mat-mdc-chip-action-label {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    white-space: normal !important;
  }
}

.phase-box {
  width: auto;
  height: auto;
  background-color: #ffffff;
}

.form-dialog-content {
  max-width: 57.8rem;
  margin: 2rem auto 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-dialog-conten-button-box-3 {
  text-align: right;
  // margin-top: 2.5rem !important;
}

:host {
  ::ng-deep.mat-mdc-icon-button.mat-mdc-button-base {
    color: #0060ef !important;
  }
}

textarea::-webkit-scrollbar {
  width: 0.8rem;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: none;

  cursor: auto;
}
textarea::placeholder {
  color: #ffffff;
}

.texta {
  height: 13rem !important;
  margin-bottom: 3rem;
}

.risk-report-radio-buttons-grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem;

  @media only screen and (max-width: 84em) {
    column-gap: 5rem;
  }

  @media only screen and (max-width: 75em) {
    column-gap: 5rem;
  }

  @media only screen and (max-width: 64em) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.risk-report-radio-buttons-flex-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 8rem 0 0.5rem 0;
}

.risk-report-radio-buttons-flex-box-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

::ng-deep .mdc-radio__background {
  background-color: #d9d9d9 !important;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem !important;
}

::ng-deep .mdc-radio__outer-circle {
  border-style: none !important;
}

::ng-deep
  .mat-mdc-radio-button
  .mdc-radio:hover
  .mdc-radio__native-control:not([disabled]):not(:focus)
  ~ .mdc-radio__background::before {
  opacity: -1% !important;
}

::ng-deep
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: #5569dd !important;
  border-width: 20px !important;

  margin: -9px -44px 4px -9px !important;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-focus-icon-color: #212121;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #436280 !important;
  --mdc-radio-selected-hover-icon-color: #436280 !important;
  --mdc-radio-selected-icon-color: #436280 !important;
  --mdc-radio-selected-pressed-icon-color: #436280 !important;
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: #436280 !important;
}

.risk-report-radio-buttons-flex mat-radio-group {
  display: flex;
  align-items: center;
  gap: 2rem !important;
}

.textarea-m-b {
  margin-bottom: 4rem;
}

.ng-select-option-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #0f212f;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%;
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 49px !important;

  border: 2px solid #8080804c !important;
  border-radius: 1rem !important;
}

::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  box-sizing: content-box;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  outline: none;
  padding: 0;
  cursor: default;
  width: 100%;
  position: relative;
}

:host {
  ::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
    padding: 0 0.5em;
    width: 57.8rem;
    position: relative !important;
    background-color: none !important;
    border: 2px solid #8080804c !important;
    border-radius: 1rem !important;
    min-height: 6rem !important;
    max-height: 200px !important;
  }
}

::ng-deep.ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-input {
  top: 14px !important;
  left: 0;
  padding-left: 5px !important;
  padding-right: 50px;
}

.ng-select-option {
  white-space: break-spaces;
  text-align: left;
  color: #04030f;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 18.75px;
  font-family: "Poppins", sans-serif !important;
  white-space: normal !important;
}

.ng-select-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

:host {
  ::ng-deep.mat-mdc-select-value-text {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    white-space: normal !important;
  }
}

:host {
  ::ng-deep.mat-mdc-select {
    white-space: normal !important;

    max-height: 20rem !important;
    max-width: 100% !important;
    overflow: auto !important;
    padding: 0 0.5rem !important;
  }
}

::ng-deep.mdc-menu-surface.mat-mdc-select-panel {
  width: 100%;
  max-height: 275px;
  position: inherit !important;
  outline: 0;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
}

:host {
  ::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
    background-color: none !important;
    white-space: nowrap;
  }
}

:host {
  ::ng-deep.ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    white-space: normal !important;
    max-height: 12rem !important;
    max-width: 100% !important;
    padding: 1rem 2rem 0 0 !important;
    overflow-x: hidden !important;
    display: block;
  }
}

:host {
  ::ng-deep.ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value
    .ng-value-label {
    display: inline-block;
    padding: 1rem 13px 0.5rem 0.5rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    white-space: normal !important;
  }
}

.select-text::-webkit-scrollbar {
  width: 0.8rem;
}

.select-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

.select-text::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

::ng-deep.ng-value-container::-webkit-scrollbar {
  width: 0.8rem;
}

::ng-deep.ng-value-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 4px;
}

::ng-deep.ng-value-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #5569dd, #5569dd);
  outline: 1px solid rgba(112, 128, 144, 0.303);
  border-radius: 4px;
}

:host {
  ::ng-deep.mat-mdc-form-field-error {
    color: var(--mdc-theme-error, #f44336);
    font-size: 1.3rem !important;
    animation-name: moveInLeft !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }
}

::ng-deep.mat-mdc-select-value-text {
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: break-spaces !important;
  text-align: left !important;
  color: #04030f !important;
  font-size: 1.4rem !important;
  font-style: normal !important;
  line-height: 18.75px !important;
  font-family: "Poppins", sans-serif !important;
  white-space: normal !important;
}

.w .mat-mdc-select-value-text:nth-child(odd) {
  background-color: #f8f9fa;
}

.w .mat-mdc-select-value-text:nth-child(even) {
  background-color: #e9ecef;
}

::ng-deep.mat-mdc-option {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 68px !important;
}

::ng-deep.cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  .mdc-menu-surface.mat-mdc-select-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-origin: top center;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
}

:host {
  ::ng-deep .mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0 !important;
  }
}

:host {
  ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    margin-bottom: 1rem !important;
  }
}

// :host {
//   ::ng-deep.ng-select.ng-select-multiple
//     .ng-select-container
//     .ng-value-container
//     .ng-value {
//     font-size: 0.9em;
//     margin-bottom: 5px;
//     color: #333;
//     background-color: #ebf5ff;
//     border-radius: 2px;
//     margin-right: -13px !important;
//   }
// }

:host {
  ::ng-deep.mat-mdc-chip.mdc-evolution-chip--with-trailing-action
    .mat-mdc-chip-action-label {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: break-spaces !important;
    text-align: left !important;
    color: #04030f !important;
    font-size: 1.4rem !important;
    font-style: normal !important;
    line-height: 18.75px !important;
    font-family: "Poppins", sans-serif !important;
    white-space: normal !important;
  }
}

:host {
  ::ng-deep.mdc-evolution-chip-set .mdc-evolution-chip {
    margin-top: 4px;
    margin-bottom: 4px;
    height: auto !important;
  }
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: rgba(255, 0, 0, 0) !important;
}

:host {
  ::ng-deep.ng-select
    .ng-select-container
    .ng-value-container
    .ng-input
    > input {
    box-sizing: content-box;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    outline: none;
    padding: 0 1rem !important;
    cursor: default;
    width: 100%;
  }
}

.risk-report-btn-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 15px;
  transition: all 0.3s;
}

.create-risk {
  width: 2.2rem !important;
  height: 2.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: 0.2rem;
  left: 0.1rem;
}

.create-risk-2 {
  width: 1.9rem !important;
  height: 2.4rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: 0.4rem;
  left: 0.4rem;
}
.risk-report-title-box {
  text-align: center;
  padding: 4.8rem 0;
  &__title {
    color: #0f212f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

:host {
  ::ng-deep.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #ebf5ff !important;
  }
}

::ng-deep.mat-primary
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #5569dd !important;
}

::ng-deep.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: #5569dd !important;
}

:host {
  ::ng-deep.mat-mdc-select-trigger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    gap: 1rem !important;
  }
}
