<button
  mat-raised-button
  class="add_new_btn"
  color="primary"
  (click)="openDialog()"
>
  Add new
</button>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let ipsr">{{ ipsr.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let ipsr">
        {{ ipsr.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let ipsr">
        {{ ipsr.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let ipsr">
        <button mat-icon-button (click)="openDialog(ipsr.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(ipsr.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 30, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
