@import "../sass/components/button";

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 54.8rem;
  height: 3rem;
  margin-left: -5rem;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 99%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }

  // &__input:focus + &__button {
  // }

  &__button {
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2.8rem;

    width: 2rem;
    position: relative;
    top: 0.2rem;
  }
}

.form-container {
  padding: 24px 0;
  position: relative;
  margin-top: -6rem;
  .search {
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    height: fit-content;
    .sec-1 {
      width: 10%;
      position: relative;

      .search__button {
        right: 14px;
        position: absolute;
        .search__icon {
          width: 2rem;
        }
      }

      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;

          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }
    .sec-2 {
      width: 27%;
      position: relative;

      .search__button {
        right: 14px;
        position: absolute;
        .search__icon {
          width: 2rem;
        }
      }

      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;

          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }
    // .sec-3 {
    //   position: relative;
    //   width: 15%;
    //   .risk-management-form-field {
    //     position: relative;
    //     .risk-management-form-field__label {
    //       display: inline-block;
    //       color: #808080;
    //       font-family: "Poppins", sans-serif;
    //       font-size: 1.4rem;
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //       margin: 0 2rem 1rem 0;
    //     }
    //     .risk-management-form-field-box__input-3 {
    //       font-family: inherit;
    //       font-size: inherit;
    //       color: #0f212f;
    //       border-radius: 1rem;
    //       border: 0.5px solid #808080;
    //       background-color: #ffffff;
    //       padding: 0.4rem 1rem;
    //       width: 100%;
    //       transition: all 0.2s;
    //       position: relative;
    //     }
    //   }
    // }

    .sec-4 {
      position: relative;
      width: 10%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-5 {
      position: relative;
      width: 21%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-6 {
      position: relative;
      width: 21%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-7 {
      position: relative;
      margin-top: 3rem;
    }
  }
}

.reset-m-btn {
  margin: 6rem 0 0 0;
}

.risk-management-form-field {
  // width: 13rem;
  // height: 3.2rem;

  position: relative;
  &__label {
    display: inline-block;
    color: #808080;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 2rem 1rem 0;
  }
}

:host {
  ::ng-deep .mat-mdc-select-arrow {
    width: 16px !important;
    height: 10px !important;
    background-color: #ffffff !important;
    background-image: url("../../assets/shared-image/Vector-risk-m.svg") !important;
    background-position: center;
    background-size: cover;
  }

  ::ng-deep .mat-mdc-select-arrow svg {
    opacity: -1% !important;
  }
}

.risk-management-export {
  text-align: right;
  margin-top: 5rem;
}

.risk-management-export-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  position: relative;
  margin-top: -4rem;
}

.risk-management-export-box-icon {
  width: 2.2rem !important;
  height: 3.1rem !important;
  position: relative;
  top: -1%;
  left: 2%;
}

// .risk-management-export-icon {
// }

:host {
  ::ng-deep .mat-mdc-checkbox.mat-accent {
    color: #5569dd !important;
    --mdc-checkbox-selected-checkmark-color: #ffffff;
    --mdc-checkbox-selected-focus-icon-color: #5569dd !important;
    --mdc-checkbox-selected-hover-icon-color: #5569dd !important;
    --mdc-checkbox-selected-icon-color: #5569dd !important;
    --mdc-checkbox-selected-pressed-icon-color: #5569dd !important;
    --mdc-checkbox-unselected-focus-icon-color: none;
    --mdc-checkbox-unselected-hover-icon-color: none;
    --mdc-checkbox-disabled-selected-icon-color: none;
    --mdc-checkbox-disabled-unselected-icon-color: none;
    --mdc-checkbox-unselected-icon-color: none;
    --mdc-checkbox-unselected-pressed-icon-color: none;
  }
}

:host {
  ::ng-deep.mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background,
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:indeterminate
    ~ .mdc-checkbox__background,
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
    ~ .mdc-checkbox__background {
    background-image: linear-gradient(to bottom, #5569dd, #5569dd) !important;
  }

  ::ng-deep.mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background,
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:indeterminate
    ~ .mdc-checkbox__background,
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
    ~ .mdc-checkbox__background {
    border-color: var(
      --mdc-checkbox-selected-icon-color,
      var(--mdc-theme-secondary, #5569dd)
    ) !important;
    background-color: var(
      --mdc-checkbox-selected-icon-color,
      var(--mdc-theme-secondary, #5569dd)
    ) !important;
  }

  ::ng-deep.mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background,
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:indeterminate
    ~ .mdc-checkbox__background,
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
    ~ .mdc-checkbox__background {
    border-color: #5569dd !important;
    background-color: var(
      --mdc-checkbox-selected-icon-color,
      var(--mdc-theme-secondary, #5569dd)
    ) !important;
  }

  ::ng-deep.mat-mdc-checkbox.mat-primary
    .mdc-checkbox--selected
    ~ .mdc-checkbox__ripple {
    background-image: linear-gradient(to bottom, #5569dd, #5569dd) !important;
  }
}

:host {
  ::ng-deep
    .mdc-checkbox__native-control:checked
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    opacity: 0 !important;
    padding: 1rem;
  }
}

:host {
  ::ng-deep .mat-mdc-checkbox .mdc-checkbox {
    background-color: #d9d9d9;
    padding: calc(
      (var(--mdc-checkbox-state-layer-size, 40px) - 30px) / 2
    ) !important;
    margin: calc(
      (
          var(--mdc-checkbox-state-layer-size, 43px) -
            var(--mdc-checkbox-state-layer-size, 24px)
        ) / 2
    ) !important;
  }
}

:host {
  ::ng-deep
    .mat-mdc-checkbox.mat-accent
    .mdc-checkbox--selected
    ~ .mdc-checkbox__ripple {
    background-color: #d9d9d9 !important;
    opacity: 1% !important;
  }
}

:host {
  ::ng-deep
    .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:not([disabled]):focus
    ~ .mdc-checkbox__ripple {
    opacity: 0.1% !important;
  }
}

:host {
  ::ng-deep .mat-mdc-checkbox-ripple,
  .mdc-checkbox__ripple {
    top: 28px !important;

    border-radius: 0 !important;
  }
}

:host {
  ::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__background {
    top: calc(
      (var(--mdc-checkbox-state-layer-size, 27px) - 18px) / 2
    ) !important;
    left: calc(
      (var(--mdc-checkbox-state-layer-size, 28px) - 18px) / 2
    ) !important;
  }
}

:host {
  ::ng-deep
    .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-color: var(
      --mdc-checkbox-unselected-icon-color,
      rgba(225, 217, 217, 0.884)
    ) !important;
    background-color: #ffffff !important;
    border: none !important;
  }
}

:host {
  ::ng-deep .cdk-overlay-pane {
    margin: 1rem -1rem !important;
    padding: 0 1rem !important;
  }
}

// ::ng-deep .mat-mdc-option.mdc-list-item {
//   align-items: center;
//   width: 260px !important;
// }

::ng-deep.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: inline-table !important;
  max-width: 100%;
  max-height: 100%;
  margin: 1rem 0 0 -1rem !important;
  padding: 0 1rem !important;
}

.initiatives-text-checkbox {
  color: #0f212f;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::ng-deep.cdk-overlay-pane:not(
    .mat-mdc-select-panel-above
  ).mdc-menu-surface.mat-mdc-select-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-origin: top center;
  // overflow-y: scroll !important;
  overflow-x: hidden !important;
}

// ::ng-deep.mat-mdc-option.mdc-list-item {
//   align-items: baseline !important;
// }

// ::ng-deep.mat-mdc-option.mdc-list-item {
//   align-items: center;
//   padding: 1rem !important;
// }

.risk-report-btn-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 15px;
  transition: all 0.3s;
}

.create-risk {
  width: 2.1rem !important;
  height: 2.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.1rem;
  left: 0.2rem;
}

.create-risk-2 {
  width: 1.9rem !important;
  height: 2.4rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.4rem;
  left: 0.5rem;
}
.risk-report-title-box {
  text-align: center;
  padding: 4.8rem 0;
  &__title {
    color: #0f212f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// .btn,
// .btn:link,
// .btn:visited {
//   text-decoration: none;

//   display: inline-block;

//   transition: all 0.2s;
//   position: relative;

//   border: none;
//   cursor: pointer;
// }

// .btn:hover {
//   // transform: translateY(-3px);
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
// }
// .btn:hover::after {
//   transform: scaleX(1.4) scaleY(1.6);
//   opacity: 0;
// }

// .btn:active,
// .btn:focus {
//   outline: none;
//   transform: translateY(-1px);
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
// }

// .btn--white {
//   background-color: #04030f !important;
//   color: #ffffff;
// }
// .btn--white::after {
//   background-color: #04030f !important;
// }

// .btn--chestnut {
//   background-color: #5569dd !important;
//   color: #ffffff;
// }
// .btn--chestnut::after {
//   background-color: #5569dd !important;
// }

// .btn--white-2 {
//   background-image: linear-gradient(to right, #436280, #30455b);
//   color: #ffffff;
// }
// .btn--white-2::after {
//   background-image: linear-gradient(to right, #436280, #30455b);
// }

// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 10rem;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all 0.4s;
// }

// .btn--animated {
//   animation: moveInBottom 0.5s ease-out 0.85s;
//   animation-fill-mode: backwards;
// }

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
